nbproject
._*
.~lock.*
*.buildpath
*.project
*.settings
*.DS_Store
*.idea
composer.lock
vendor/
*.sublime-project
*.sublime-workspace

public/stjornvisi/vendor/*
public/stjornvisi/images/*
.sass-cache
.sass-cache/*
