nbproject
._*
.~lock.*
*.buildpath
*.project
*.settings
*.DS_Store
*.idea
composer.lock
vendor/
*.sublime-project
*.sublime-workspace
*.psd

public/stjornvisi/vendor
public/stjornvisi/node_modules
public/stjornvisi/images/
.sass-cache
.sass-cache/*
