/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/helpers/_extensions.scss */
article.event header time {
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 2em;
  font-family: "open-sans", sans-serif;
}
/* line 21, ../sass/helpers/_extensions.scss */
article.event header h1 {
  font-size: 1.5em;
  line-height: 1.2em;
  /*@include breakpoint-to($resolution-small){
  	@include adjust-font-size-to($font-headline-small,1,$font-size-base);
  }*/
  font-weight: bold;
  padding: 0.5em 0;
}
/* line 28, ../sass/helpers/_extensions.scss */
article.event header h1 a {
  color: #282828;
}
/* line 33, ../sass/helpers/_extensions.scss */
article.event section {
  *zoom: 1;
  word-wrap: break-word;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
article.event section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../sass/helpers/_extensions.scss */
article.event section img {
  float: left;
  margin: 0 1.5em 1.5em 0;
}
/* line 40, ../sass/helpers/_extensions.scss */
article.event section a {
  color: #4a85a1;
}
/* line 43, ../sass/helpers/_extensions.scss */
article.event section a:hover {
  text-decoration: underline;
}
/* line 46, ../sass/helpers/_extensions.scss */
article.event section p {
  margin: 0 0 0.75em 0;
}
/* line 49, ../sass/helpers/_extensions.scss */
article.event section p:last-of-type {
  margin: 0;
}

/* line 57, ../sass/helpers/_extensions.scss */
li.event time {
  font-family: "open-sans", sans-serif;
  font-size: 0.875em;
  line-height: 3.42857em;
}
/* line 61, ../sass/helpers/_extensions.scss */
li.event img {
  width: 100%;
  max-width: 100%;
}
/* line 65, ../sass/helpers/_extensions.scss */
li.event h2 {
  font-weight: bold;
  font-family: 'open-sans';
  margin: 0.375em 0 0.75em 0;
}
/* line 69, ../sass/helpers/_extensions.scss */
li.event h2 a {
  color: #282828;
}

/* line 80, ../sass/helpers/_extensions.scss */
article.event ul.event-groups-list, li.event ul.event-groups-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0.75em 0;
}
/* line 83, ../sass/helpers/_extensions.scss */
article.event ul.event-groups-list li, li.event ul.event-groups-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li:first-child, li.event ul.event-groups-list li:first-child, article.event ul.event-groups-list li.first, li.event ul.event-groups-list li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li:last-child, li.event ul.event-groups-list li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li.last, li.event ul.event-groups-list li.last {
  padding-right: 0;
}
/* line 85, ../sass/helpers/_extensions.scss */
article.event ul.event-groups-list li a, li.event ul.event-groups-list li a, article.event ul.event-groups-list li span, li.event ul.event-groups-list li span {
  font-family: 'open-sans';
  font-size: 0.75em;
  line-height: 2em;
  color: #4a85a1;
}
/* line 90, ../sass/helpers/_extensions.scss */
article.event ul.event-groups-list li a:after, li.event ul.event-groups-list li a:after, article.event ul.event-groups-list li span:after, li.event ul.event-groups-list li span:after {
  content: ' \2022';
}
/* line 95, ../sass/helpers/_extensions.scss */
article.event ul.event-groups-list li:last-child a:after, li.event ul.event-groups-list li:last-child a:after, article.event ul.event-groups-list li:last-child span:after, li.event ul.event-groups-list li:last-child span:after {
  content: none;
}

/* line 103, ../sass/helpers/_extensions.scss */
ul.event-gallery-list {
  *zoom: 1;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul.event-gallery-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 108, ../sass/helpers/_extensions.scss */
ul.event-gallery-list li {
  float: left;
  width: 25%;
  padding: 7.5px;
  /*
  @include breakpoint-to(1024){
  	width: 33.33%;
  }
  @include breakpoint-to(960){
  	width: 50%;
  }
  @include breakpoint-to(650){
  	width: 100%;
  }
  */
}
/* line 124, ../sass/helpers/_extensions.scss */
ul.event-gallery-list li img {
  display: block;
  border: 1px solid gainsboro;
  padding: 5px;
  width: 100%;
}

/* line 135, ../sass/helpers/_extensions.scss */
ul.event-resources-list li {
  padding: 0.42857em 0;
}
/* line 138, ../sass/helpers/_extensions.scss */
ul.event-resources-list li a {
  font-family: open-sans;
  text-transform: lowercase;
  color: #4a85a1;
  font-size: 0.875em;
  line-height: 1.71429em;
  background-repeat: no-repeat;
  padding-left: 2.25em;
}

/* line 162, ../sass/helpers/_extensions.scss */
aside.event-event-aside h1, div.event-event-meta h1 {
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #4a85a1;
  text-transform: uppercase;
  font-weight: bold;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Italic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icons/icomoon.eot?i85ahg");
  src: url("fonts/icons/icomoon.eot?#iefixi85ahg") format("embedded-opentype"), url("fonts/icons/icomoon.woff?i85ahg") format("woff"), url("fonts/icons/icomoon.ttf?i85ahg") format("truetype"), url("fonts/icons/icomoon.svg?i85ahg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 126, ../sass/helpers/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 140, ../sass/helpers/_fonts.scss */
.icon-facebook:before {
  content: "\e60a";
}

/* line 143, ../sass/helpers/_fonts.scss */
.icon-burger:before {
  content: "\e600";
}

/* line 146, ../sass/helpers/_fonts.scss */
.icon-cancel:before {
  content: "\e601";
}

/* line 149, ../sass/helpers/_fonts.scss */
.icon-cog:before {
  content: "\e602";
}

/* line 152, ../sass/helpers/_fonts.scss */
.icon-home:before {
  content: "\e603";
}

/* line 155, ../sass/helpers/_fonts.scss */
.icon-horn:before {
  content: "\e604";
}

/* line 158, ../sass/helpers/_fonts.scss */
.icon-mail:before {
  content: "\e605";
}

/* line 161, ../sass/helpers/_fonts.scss */
.icon-no:before {
  content: "\e606";
}

/* line 164, ../sass/helpers/_fonts.scss */
.icon-search:before {
  content: "\e607";
}

/* line 167, ../sass/helpers/_fonts.scss */
.icon-users:before {
  content: "\e608";
}

/* line 170, ../sass/helpers/_fonts.scss */
.icon-yes:before {
  content: "\e609";
}

/* line 61, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 6, ../sass/components/_main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/components/_main.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  color: #555555;
}

/* line 15, ../sass/components/_main.scss */
a, a:hover {
  text-decoration: none;
  color: #555555;
}

/* line 19, ../sass/components/_main.scss */
h1, h2, h3, h4 {
  font-family: "open-sans", sans-serif;
  color: #282828;
  font-weight: 700;
}

/* line 29, ../sass/components/_main.scss */
footer[role=footer] {
  *zoom: 1;
  color: white;
  font-family: "open-sans", sans-serif;
  background-color: #282828;
  padding: 30px;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer[role=footer]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 35, ../sass/components/_main.scss */
footer[role=footer] > div {
  width: 33.333%;
  float: left;
}
/* line 36, ../sass/components/_main.scss */
footer[role=footer] > ul {
  width: 33.333%;
  float: left;
}
/* line 37, ../sass/components/_main.scss */
footer[role=footer] h1 {
  color: white;
}

/* line 12, ../sass/components/_events.scss */
article.event.archived {
  opacity: .5;
}

/* line 25, ../sass/components/_events.scss */
ul.event-gallery-list {
  margin: -7.5px;
}

/* line 46, ../sass/components/_events.scss */
.event-event-meta-gallery {
  margin-bottom: 1.5em;
}
/* line 48, ../sass/components/_events.scss */
.event-event-meta-gallery h1 {
  margin-bottom: 0.85714em;
}

/* line 52, ../sass/components/_events.scss */
.event-event-meta-map {
  margin-bottom: 1.5em;
}
/* line 54, ../sass/components/_events.scss */
.event-event-meta-map h1 {
  margin-bottom: 0.85714em;
}

/* line 58, ../sass/components/_events.scss */
.event-event-meta-resources {
  margin-bottom: 1.5em;
}
/* line 60, ../sass/components/_events.scss */
.event-event-meta-resources h1 {
  margin-bottom: 0.85714em;
}

/* line 10, ../sass/components/_news.scss */
article.news.news-columns section {
  -webkit-columns: 30px 3;
  -moz-columns: 30px 3;
  -ms-columns: 30px 3;
  -o-columns: 30px 3;
  columns: 30px 3;
}

/* line 3, ../sass/components/_buttons.scss */
span.attending, a.attending {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-family: "open-sans", sans-serif;
}
/* line 6, ../sass/components/_buttons.scss */
span.attending:before, a.attending:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.375em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 32px;
}
/* line 23, ../sass/components/_buttons.scss */
span.attending.yes, a.attending.yes {
  color: white;
  font-size: 0;
}
/* line 28, ../sass/components/_buttons.scss */
span.attending.yes:before, a.attending.yes:before {
  content: "\e609";
}
/* line 31, ../sass/components/_buttons.scss */
span.attending.no, a.attending.no {
  color: white;
  font-size: 0;
}
/* line 35, ../sass/components/_buttons.scss */
span.attending.no:before, a.attending.no:before {
  content: "\e606";
}

/* line 41, ../sass/components/_buttons.scss */
a.attending.yes {
  background-color: #a5d0a4;
  color: white;
}
/* line 45, ../sass/components/_buttons.scss */
a.attending.no {
  background-color: #ffa37f;
  color: white;
}

/* line 51, ../sass/components/_buttons.scss */
span.attending, a.attending:hover {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-size 0.2s ease-in-out, padding-right 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-size 0.2s ease-in-out, padding-right 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-size 0.2s ease-in-out, padding-right 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-size 0.2s ease-in-out, padding-right 0.2s ease-in-out;
}
/* line 59, ../sass/components/_buttons.scss */
span.attending.yes, a.attending:hover.yes {
  background-color: #4ca14a;
  color: white;
  font-size: 16px;
  padding-right: 1.5em;
}
/* line 65, ../sass/components/_buttons.scss */
span.attending.no, a.attending:hover.no {
  background-color: #ff4800;
  color: white;
  font-size: 16px;
  padding-right: 1.5em;
}

/* line 6, ../sass/types/_login-in.scss */
body.logged-in.menu {
  overflow: hidden;
}
/* line 8, ../sass/types/_login-in.scss */
body.logged-in.menu nav[role=navigation] {
  left: 0px;
  -webkit-box-shadow: 5px 0 10px 0px rgba(40, 40, 40, 0.5);
  -moz-box-shadow: 5px 0 10px 0px rgba(40, 40, 40, 0.5);
  box-shadow: 5px 0 10px 0px rgba(40, 40, 40, 0.5);
}
/* line 12, ../sass/types/_login-in.scss */
body.logged-in.menu main[role=main] {
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
/* line 19, ../sass/types/_login-in.scss */
body.logged-in main[role=main] {
  margin-left: 80px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 26, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] {
  position: fixed;
  width: 380px;
  background-color: #4a85a1;
  top: 0;
  left: -300px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  -webkit-transition: left 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  transition: left 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0 0px 0px rgba(40, 40, 40, 0.5);
  -moz-box-shadow: 0px 0 0px 0px rgba(40, 40, 40, 0.5);
  box-shadow: 0px 0 0px 0px rgba(40, 40, 40, 0.5);
}
/* line 44, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories {
  background-color: #282828;
  width: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 51, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a {
  color: white;
  display: block;
  width: 80px;
  height: 80px;
  font-size: 0;
}
/* line 58, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px;
}
/* line 75, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.control {
  background-color: transparent;
  border-bottom: 1px solid #3d3d3d;
  -webkit-transition: background-color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
}
/* line 83, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.control:hover, body.logged-in nav[role=navigation] ul.categories a.control.active {
  background-color: #4a85a1;
  border-bottom: 1px solid #4a85a1;
}
/* line 87, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.home {
  background-color: #4ca14a;
}
/* line 90, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.home:before {
  content: "\e603";
}
/* line 93, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.groups:before {
  content: "\e600";
}
/* line 96, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.news:before {
  content: "\e604";
}
/* line 99, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.events:before {
  content: "\e604";
}
/* line 102, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.user:before {
  content: "\e608";
}
/* line 105, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.categories a.config:before {
  content: "\e602";
}
/* line 112, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.navigation {
  position: absolute;
  *zoom: 1;
  top: 0;
  right: 80px;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 600%;
  margin-left: 0;
  -webkit-transition: margin-left 0.4s ease-in-out;
  -moz-transition: margin-left 0.4s ease-in-out;
  -o-transition: margin-left 0.4s ease-in-out;
  transition: margin-left 0.4s ease-in-out;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.logged-in nav[role=navigation] ul.navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 124, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.navigation > li {
  padding: 1.5em;
  float: left;
  width: 16.66667%;
}
/* line 128, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.navigation > li > a {
  margin-bottom: 1.5em;
  font-weight: 700;
}
/* line 132, ../sass/types/_login-in.scss */
body.logged-in nav[role=navigation] ul.navigation > li a {
  display: block;
  font-family: "open-sans", sans-serif;
  color: white;
}
/* line 144, ../sass/types/_login-in.scss */
body.logged-in header.page-header {
  background-color: #292468;
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 149, ../sass/types/_login-in.scss */
body.logged-in header.page-header h1, body.logged-in header.page-header ul, body.logged-in header.page-header form {
  display: table-cell;
}
/* line 152, ../sass/types/_login-in.scss */
body.logged-in header.page-header h1 {
  font: 0/0 a;
  width: 205px;
  background-image: url(images/logo-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 159, ../sass/types/_login-in.scss */
body.logged-in header.page-header ul {
  width: 100%;
}
/* line 162, ../sass/types/_login-in.scss */
body.logged-in header.page-header form {
  width: 350px;
}
/* line 170, ../sass/types/_login-in.scss */
body.logged-in h1.page-brand {
  width: 206px;
}
/* line 176, ../sass/types/_login-in.scss */
body.logged-in ul.page-main-menu {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.logged-in ul.page-main-menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 178, ../sass/types/_login-in.scss */
body.logged-in ul.page-main-menu li {
  float: left;
}
/* line 180, ../sass/types/_login-in.scss */
body.logged-in ul.page-main-menu li a {
  font-size: 0.875em;
  line-height: 1.71429em;
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  display: block;
  padding: 1.71429em;
  border-right: 1px solid #3e3977;
}

/* line 3, ../sass/types/_landing-page.scss */
main.frontpage {
  background-color: #f6f7fb;
}
/* line 8, ../sass/types/_landing-page.scss */
main.frontpage .hero {
  background: url("../frontpage/header-image.jpg") no-repeat;
  height: 640px;
  background-size: cover;
  padding: 3em;
}
/* line 13, ../sass/types/_landing-page.scss */
main.frontpage .hero a {
  display: block;
  max-width: 960px;
  margin: auto;
  text-align: center;
}
/* line 19, ../sass/types/_landing-page.scss */
main.frontpage .hero h1, main.frontpage .hero h2 {
  color: white;
  font-family: "open-sans", sans-serif;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  max-width: 960px;
  margin: auto;
  font-weight: 700;
  text-align: center;
}
/* line 29, ../sass/types/_landing-page.scss */
main.frontpage .hero h1 {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 34, ../sass/types/_landing-page.scss */
main.frontpage .hero h2 {
  font-size: 2.25em;
  line-height: 1.33333em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 45, ../sass/types/_landing-page.scss */
main.frontpage .login-buttons {
  padding: 1.5em;
  background-color: white;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
}
/* line 50, ../sass/types/_landing-page.scss */
main.frontpage .login-buttons a.btn-facebook i {
  padding-right: 1.5em;
}
/* line 58, ../sass/types/_landing-page.scss */
main.frontpage .btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  padding: 0.75em 1.5em;
}
/* line 64, ../sass/types/_landing-page.scss */
main.frontpage .btn.btn-default {
  color: white;
  background-color: #4ca14a;
  border-bottom: 2px solid #3c803b;
}
/* line 69, ../sass/types/_landing-page.scss */
main.frontpage .btn.btn-success {
  color: white;
  background-color: #4ca14a;
  border-bottom: 2px solid #3c803b;
}
/* line 74, ../sass/types/_landing-page.scss */
main.frontpage .btn.btn-facebook {
  color: white;
  background-color: #3e5a9e;
  border-bottom: 2px solid #31487e;
}

/* line 83, ../sass/types/_landing-page.scss */
.callout {
  max-width: 980px;
  margin: 0 auto;
}
/* line 87, ../sass/types/_landing-page.scss */
.callout h1 {
  font-family: 'bitter';
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 36px;
  color: #282828;
}
/* line 96, ../sass/types/_landing-page.scss */
.callout p {
  font-family: Georgia;
  margin-bottom: 60px;
}
/* line 101, ../sass/types/_landing-page.scss */
.callout .text {
  padding: 110px;
  text-align: center;
}
/* line 106, ../sass/types/_landing-page.scss */
.callout .btn {
  width: 360px;
  display: inline-block;
}

/* line 112, ../sass/types/_landing-page.scss */
.callout-two {
  background-color: white;
  border: 1px solid gainsboro;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 118, ../sass/types/_landing-page.scss */
.callout-two .img {
  background: url("../frontpage/faghopar.jpg") no-repeat;
  height: 700px;
  background-size: cover;
}
/* line 122, ../sass/types/_landing-page.scss */
.callout-two .img:after {
  content: "";
  height: 100%;
  width: 100%;
  bottom: 0;
  display: inherit;
}
/* line 131, ../sass/types/_landing-page.scss */
.callout-two .text {
  padding-top: 25px;
}

/* line 137, ../sass/types/_landing-page.scss */
.news-events {
  background-color: white;
  border: 1px solid #e7e8eb;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 980px;
  overflow: hidden;
  *zoom: 1;
  padding: 60px;
}
/* line 146, ../sass/types/_landing-page.scss */
.news-events .col-md-6 {
  width: 50%;
  float: left;
}
/* line 151, ../sass/types/_landing-page.scss */
.news-events h1 {
  font-family: 'open-sans';
  font-size: 14px;
  color: #4a85a1;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 162, ../sass/types/_landing-page.scss */
.single-article {
  width: 100%;
}
/* line 163, ../sass/types/_landing-page.scss */
.single-article .img-text-wrapper {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 60px;
}
/* line 167, ../sass/types/_landing-page.scss */
.single-article .img-text-wrapper figure {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 177, ../sass/types/_landing-page.scss */
.single-article h2 {
  font-family: 'bitter';
  font-size: 24px;
}
/* line 181, ../sass/types/_landing-page.scss */
.single-article h2 a {
  color: #282828;
}
/* line 186, ../sass/types/_landing-page.scss */
.single-article figure {
  float: left;
}
/* line 191, ../sass/types/_landing-page.scss */
.single-article .text {
  float: left;
}

/* line 196, ../sass/types/_landing-page.scss */
.col-md-6.first {
  padding-right: 30px;
}

/* line 200, ../sass/types/_landing-page.scss */
.col-md-6.last7 {
  padding-left: 30px;
}

/* line 204, ../sass/types/_landing-page.scss */
.image-boxes {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 208, ../sass/types/_landing-page.scss */
.image-boxes .box-large {
  width: 25%;
  float: left;
  height: 250px;
}
/* line 209, ../sass/types/_landing-page.scss */
.image-boxes .box-two {
  width: 12.5%;
  float: left;
  height: 250px;
}
/* line 210, ../sass/types/_landing-page.scss */
.image-boxes .img_big, .image-boxes .img_medium {
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 214, ../sass/types/_landing-page.scss */
.image-boxes .img_medium {
  width: 100%;
  height: 50%;
}
/* line 215, ../sass/types/_landing-page.scss */
.image-boxes .img_big {
  width: 100%;
  height: 100%;
}

/* line 219, ../sass/types/_landing-page.scss */
.not-logged-in nav {
  display: none;
}

/* line 225, ../sass/types/_landing-page.scss */
.layout-content,
#editable-static-page-container {
  max-width: 980px;
  margin: 0 auto;
}

/* line 231, ../sass/types/_landing-page.scss */
.frontpage header {
  display: none;
}

/* Login section */
/* line 2, ../sass/types/_index.scss */
.section-aside-grid {
  *zoom: 1;
  padding: 30px;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.section-aside-grid:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/types/_index.scss */
.section-aside-grid > section, .section-aside-grid > aside {
  float: left;
}
/* line 8, ../sass/types/_index.scss */
.section-aside-grid > section {
  width: 70%;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.section-aside-grid > section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/types/_index.scss */
.section-aside-grid > section > div {
  float: left;
  width: 50%;
}
/* line 16, ../sass/types/_index.scss */
.section-aside-grid > aside {
  width: 30%;
}
