

	span.attending,a.attending{
		@include inline-block;
		font-family: $font-family-sans-serif;
		&:before{
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			padding: rhythm(1/4,$font-size-base);
			@include inline-block;
			font-size: $font-size-base*2;
		}
		&.yes{
			color: $color-white;
			font-size: 0;

		}
		&.yes:before{
			content: "\e609";
		}
		&.no{
			color: $color-white;
			font-size: 0;
		}
		&.no:before{
			content: "\e606";
		}
	}

	a.attending{
		&.yes{
			background-color: tint($color-green,50%);
			color: $color-white;
		}
		&.no{
			background-color: tint($color-red,50%);
			color: $color-white;
		}
	}

	span.attending, a.attending:hover{
		@include inline-block;
		@include transition(
				background-color $animation-speed/2 $animation-function,
				color $animation-speed/2 $animation-function,
				font-size $animation-speed/2 $animation-function,
				padding-right $animation-speed/2 $animation-function
		);
		&.yes{
			background-color: $color-green;
			color: $color-white;
			font-size: $font-size-base;
			padding-right: rhythm(1,$font-size-base);
		}
		&.no{
			background-color: $color-red;
			color: $color-white;
			font-size: $font-size-base;
			padding-right: rhythm(1,$font-size-base);
		}
	}