
/**
 * BLOCK-ELEMENT
 *
 * Mostly used to style lists of events and news,
 * this is a BEM that has a header,section, footer and
 * aside. Header usually has a h1 and a time element.
 * The body contains some paragraphs and an image
 * and the footer has some tabs which are in a smaller font.
 *
 * This is used both for the list og event/news as well as
 * full news/event entry
 */
.block-element{
	position: relative;
	.block-element__header{
		h1{
			@include adjust-font-size-to($font-size-header,1.2,$font-size-base);
			font-family: Bitter;
			font-weight: $font-weight-bold;
			@include margin-leader(1/4,$font-size-header);
			@include margin-trailer(1/4,$font-size-header);
		}
		h2{
			font-family: Bitter;
			font-weight: $font-weight-bold;
		}
		padding: rhythm(1/2,$font-size-base) 0;
	}

	.block-element__time{
		@include adjust-font-size-to($font-size-small,1,$font-size-base);
		font-family: $font-family-open;
		font-weight: $font-weight-thin;
	}

	.block-element__body {
		@include pie-clearfix;
		@extend %rich-text;
		padding: rhythm(1/2,$font-size-base) 0;
		.block-element__poster{
			float: left;
			img {
				margin: 0 rhythm(1,$font-size-base) rhythm(1/2,$font-size-base) 0;
			}
		}
		.block-element__image{
			max-width: 50%;
			float: left;
			margin: 0 rhythm(1,$font-size-base) rhythm(1/2,$font-size-base) 0;
		}

		//MODIFIER three column layout
		&.block-element--three-columns{
			-webkit-column-width: rhythm(1,$font-size-base);
			-webkit-column-count: 3;
			-moz-column-width: rhythm(1,$font-size-base);
			-moz-column-count: 3;
			-ms-column-width: rhythm(1,$font-size-base);
			-ms-column-count: 3;
			column-width: rhythm(1,$font-size-base);
			column-count: 3;
		}
		@include breakpoint($phone){
			&.block-element--three-columns{
				-webkit-column-width: auto;
				-webkit-column-count: auto;
				-moz-column-width: auto;
				-moz-column-count: auto;
				-ms-column-width: auto;
				-ms-column-count: auto;
				column-width: auto;
				column-count: auto;
			}
		}

	}
	.block-element__aside{
		padding: rhythm(1/2,$font-size-base) 0;
	}
	.block-element__footer{
		padding: rhythm(1/2,$font-size-base) 0;
	}

	/*ul*/.block-element__tags{
		@include pie-clearfix;
		@include adjust-font-size-to($font-size-sub,1,$font-size-base);
		@include margin-leader(1/2,$font-size-sub);
		@include margin-trailer(1/2,$font-size-sub);

		font-family: $font-family-open;
		font-weight: $font-weight-thin;
		li{
			float: left;
		}
		li:after{
			font-weight: $font-weight-bold;
			content: "\00B7";
			padding: 0 rhythm(1/4,$font-size-sub);
		}
		li:last-child:after{
			content: "";
			padding: 0;
		}
		a{
			color: $color-green-sea;
		}
	}

	.block-element__location{
		font-weight: $font-weight-thin;
		font-family: $font-family-open;
		color: $color-green-sea;
	}

	.block-element__more{
		display: block;
		text-align: right;
		&:after{
			content: "\02026";
		}
	}

	/*ul*/.block-element__author-list{
		@include pie-clearfix;
		/*li*/.block-element__author-item{
			float: left;
			h2{
				@include adjust-font-size-to($font-size-sub,1,$font-size-base);
				font-family: open-sans;
			}
			img{
				border-radius: 50%;
			}
		}
	}
}


/**
 * BLOCK-ITEM
 *
 * Usually a simple item in a list. This is usually a h2
 * header and a time element. Often there are tags associated
 * with the entry which is a list og Groups that are connected
 * to the block.
 *
 */
.block-item{
	position: relative;
	h2{
		@include adjust-font-size-to($font-size-base,1,$font-size-base);
		font-weight: $font-weight-bold;
		font-family: $font-family-bitter;
	}
	h3{
		@include adjust-font-size-to($font-size-base,1,$font-size-base);
		font-weight: $font-weight-bold;
		font-family: $font-family-bitter;
	}
	.block-item__time{
		@include adjust-font-size-to($font-size-small,1,$font-size-base);
		font-family: $font-family-open;
		font-weight: $font-weight-thin;
	}
	.block-item__tags{
		@include pie-clearfix;
		@include adjust-font-size-to($font-size-sub,1,$font-size-base);
		font-family: $font-family-open;
		font-weight: $font-weight-thin;
		li{
			float: left;
		}
		li:after{
			font-weight: $font-weight-bold;
			content: "\00B7";
			padding: 0 rhythm(1/4,$font-size-sub);
		}
		li:last-child:after{
			content: "";
			padding: 0;
		}
		a{
			color: $color-green-sea;
		}
	}
	.block-item__image{
		img{
			width: 100%;
		}
	}
	h2{
		font-weight: $font-weight-bold;
	}
}


/**
 * BLOCK-LIST
 *
 * Usually items contained in block-list are block-item
 * This is is therefor just a thin margin/padding layer on top
 * of the .block-item element
 *
 */
/*ul*/.block-list{
	&.block-list--separator{
		> li{
			border-bottom: 1px solid $color-gray-light;
		}
		> li:last-child{
			border-bottom: none;
		}
	}
	& > li:first-child {
		padding-top: 0;
	}
	& > li{
		position: relative;
		padding: rhythm(1,$font-size-base) 0;
	}
	&.block-list--less{
		> li {
			padding: rhythm(1/4,$font-size-base) 0;
		}
		> li:first-child{
			padding-top: 0;
		}
	}
	&.block-list--small{
		> li {
			padding: rhythm(1/8,$font-size-base) 0;
		}
		> li:first-child{
			padding-top: 0;
		}
	}
}

/**
 * HEADLINE + BLOCK-LIST
 *
 * If there is a headline on top of the block list
 * that means that the headline is a label for the list,
 * we need to add space below (actually on top) to
 * make some air between the label and list.
 *
 */
.layout__headline + /*ul*/.block-list {
	margin-top: rhythm(1,$font-size-base);
}


/**
 * BLOCK-GALLERY
 *
 * List of images displayed in a horizontal
 * order. Used for event page...
 */
.block-gallery{
	@include pie-clearfix;
	margin-left: - rhythm(1/8,$font-size-base);
	margin-right: - rhythm(1/8,$font-size-base);

	.block-gallery__item{
		float: left;
		width: 25%;
		padding: rhythm(1/8,$font-size-base);
	}
	.block-gallery__image{
		border:1px solid $color-gray-light;
		padding: rhythm(1/8,$font-size-base);
		width: 100%;
	}
}


/**
 * BLOCK-SUPPLEMENT
 *
 * List of supplements for an event
 *
 */
/*ul*/.block-supplement{
	& > li{
		@include ellipsis;
		padding: rhythm(1/4,$font-size-base) 0;
	}
	a{

		@include adjust-font-size-to($font-size-small,1,$font-size-base);
		font-family: $font-family-open;
		color: $color-green-sea;
	}
	a:before{
		padding-right: rhythm(1/2,$font-size-small);
		font-family: 'icomoon';
		content: "\e60b";
	}
	a[href$=xls]:before,
	a[href$=xlsx]:before{
		content: "\e60c";
	}
	a[href$=pdf]:before{
		content: "\e60d";
	}
}


/**
 * BLOCK-PROPERTY-VALUE
 *
 * The classic definition list that has the label on the
 * left and the value on the right.
 *
 * ...implemented with a <dl> item
 */
/*dl*/.block-property-value{
	@include pie-clearfix;
	dt{
		width: 50%;
		float: left;
		clear: left;
	}
	dd{
		width: 50%;
		float: left;
	}
}

/**
 * LAYOUT
 *
 * This is the main grid system of the side.
 * Is has the structure of:
 * <div>
 *		<section>
 *			<div></div>
 *			<div></div>
 *		</section>
 *		<aside></aside>
 * </div>
 */
.layout{
	@include pie-clearfix;
	padding: 0 $gutter*2 $gutter*2 $gutter*2;
	@include breakpoint( $phone ){
		padding: 0 $gutter/2;
	}

	.layout__headline {
		font-family: $font-family-open;
		color: $color-green-sea;
		text-transform: uppercase;

	}
	h1.layout__headline{
		@include adjust-font-size-to($font-size-sub,1,$font-size-base);
	}
	h2.layout__headline{
		@include adjust-font-size-to($font-size-sub,1,$font-size-base);
		font-weight: $font-weight-bold;
	}
	h3.layout__headline{}
	h4.layout__headline{}

	/**
	 *
	 */
	&.layout--two-columns {
		.layout__section{
			@include pie-clearfix;
			float: left;
			width: 80%;
			.layout__data{
				float: left;
				width: 60%;
			}
			.layout__meta{
				float: left;
				width: 40%;
			}
		}
		.layout__aside{
			float: left;
			width: 20%;
		}
	}

	/**
	 *
	 */
	&.layout--three-columns{

		.layout__section{
			@include pie-clearfix;
			float: left;
			width: 80%;

			.layout__data{
				float: left;
				width: 50%;
				padding-right: rhythm(1/2,$font-size-base);
			}
			.layout__meta{
				float: left;
				width: 50%;
				padding-right: rhythm(1/2,$font-size-base);
				padding-left: rhythm(1/2,$font-size-base);

				> div:first-child{
					margin-top: 0;
				}
				> div{
					margin-top: $gutter;
				}

			}
			.layout_article{
				padding-right: rhythm(1/2,$font-size-base);
			}

			@include breakpoint($tablet){
				.layout__data, .layout__meta{
					float: none;
					width: auto;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
		.layout__aside{
			float: left;
			width: 20%;
			padding-left: rhythm(1/2,$font-size-base);
		}

		@include breakpoint($tablet){
			.layout__section{
				width: 70%;
			}
			.layout__aside{
				width: 30%;
			}
		}
		@include breakpoint($phone){
			.layout__section{
				width: auto;
				float: none;
			}
			.layout__aside{
				width: auto;
				float: none;
				padding-left: 0;
			}
		}
	}

	/**
	 *
	 */
	&.layout--three-columns-reverse{
		.layout__section{
			@include pie-clearfix;
			float: right;
			width: 75%;
		}
		.layout__aside{
			float: left;
			width: 25%;
			padding-right: $gutter*2;
		}
		.layout__data{
			float: left;
			width: 50%;
			padding-right: $gutter;
		}
		.layout__meta{
			float: left;
			width: 50%;
			padding-left: $gutter;
		}

		@include breakpoint($phone){
			.layout__section{
				float: none;
				width: auto;
			}
			.layout__aside{
				float: none;
				width: auto;
			}
			.layout__data{
				float: none;
				width: 100%;
				padding-right: 0;
			}
			.layout__meta{
				float: none;
				width: 100%;
				padding-left: 0;
			}
		}
	}
}


/**
 * BLOCK-TABLE
 * This is just a simple table layout.
 *
 * It's uses in rich-text and where a simple table data
 * needs to be displayed.
 */
/*table*/.block-table {
	 td, td{
		 vertical-align: top;
	 }
	td.block-table__numeric{
		text-align: right;
		padding-left: rhythm(1,$font-size-base);
	}
	thead{
		td{
			font-family: $font-family-open;
			font-weight: $font-weight-bold;
		}
	}
	tfoot{}
	tbody{}

	&.block-table--data {
		//@include ellipsis;
		caption{
			padding: rhythm(1,$font-size-base) 0;
			text-align: center;
		}
		thead{
			border-bottom: 2px solid $color-gray-light;
		}
		tbody{
			tr{
				border-bottom: 1px solid $color-gray-light;
			}
		}
	}
}

/**
 * HEADLINE + TABLE
 *
 * If there is a headline on top of the table
 * that means that the headline is a label for the table,
 * we need to add space below (actually on top) to
 * make some air between the label and table.
 */
.layout__headline + /*table*/.block-table{
	margin-top: rhythm(1,$font-size-base);
}

/**
 * BLOCK-CALENDAR
 * Full-blown gregorian calendar displaying events in a
 * calendar month.
 *
 */
.block-calendar{
	position: relative;
	td{
		position: relative;
		width: (100% / 7);
		vertical-align: top;
		padding: rhythm(1/3,$font-size-base);
		overflow: hidden;
	}
	.block-calendar__header{
		//@include adjust-font-size-to($font-size-small,1/8,$font-size-base);
		font-family: $font-family-open;
		color: $color-green-sea;
		tr{
			border-bottom: 2px solid $color-gray-light;
		}

	}

	.block-calendar__body{
		tr{

			td{
				border: 1px solid $color-gray-light;
				a{

				}
			}
		}
	}
	.block-calendar__footer{}

	.block-calendar__caption{
		position: relative;
	}

	.block-calendar__pagination{
		position: absolute;
		top: -$gutter/2;
		right: $gutter/2;
	}

	.block-calendar__headline{
		@include adjust-font-size-to($font-size-header,1,$font-size-base);
		@include margin-trailer(2,$font-size-header);
		font-family: open-sans;
		color: $color-green-sea;
		text-align: center;
		text-transform: capitalize;
	}

	.block-calendar__date-label{
		position: absolute;
		top: 15px;
		right: -10px;
		font-family: $font-family-open;
		font-weight: $font-weight-bold;
		@include adjust-font-size-to($font-size-huge*2,1,$font-size-base);
		color: tint($color-green-sea,90%);
		z-index: -1;
	}
	.block-calendar__subject-list{
		> li{
			> a {

				display: block;
				font-family: $font-family-open;
				font-weight: $font-weight-bold;
				@include adjust-font-size-to($font-size-small,.75,$font-size-base);
			}
		}
	}
	.block-calendar__group-list{
		> li{
			font-family: $font-family-open;
			@include adjust-font-size-to($font-size-small,.75,$font-size-base);
			color: $color-green-sea;
			> a {
				color: $color-green-sea;
			}
		}
	}
}
.block-calendar__pagination{

	border: 1px solid $color-gray-light;
	display: inline-block;
	margin-bottom: $gutter;
	a{
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		display: inline-block;
		padding: rhythm(1,$font-size-base);
		font-size: 0;
	}

	a:before{
		font-size: $font-size-base;
		display: inline-block;
		padding: rhythm(1/2,$font-size-base) rhythm(1,$font-size-base);
	}
	.prev:before{
		content: "\f0a4";
	}
	.next:before{
		content: "\e60e";
		border-left: 1px solid $color-gray-light;
	}
}

// - - - - - [SHAME] - - - - - - - - - - - - - - - - - - - - - -


textarea.over{
	box-shadow: inset 0 10 5px rgba(0,0,0,.5);
}
textarea.enter{
	background-color: rgb(240,240,240);
	border-style: dashed;
}
textarea.prossess{
	background-color: rgb(220,220,220);
}