
.default-wrapper{
	padding: $gutter;
}
.content-wrapper{
	padding: $gutter;
	@include pie-clearfix;
	> section{
		position: relative;
		float: left;
		width: 80%;
		padding-right: $gutter/2;
		overflow: hidden;

		form{
			width: 100%;
			opacity: 0;
			//@include transform( translateX(100%) );
			@include transition(all $animation-speed $animation-function);
			z-index: 1;
			background-color: $color-white;
			margin-top: -100%;

		}
		form.viewable{
			margin-top: 0%;
			opacity: 1;
			//@include transform( translateX(0%) );
		}

	}
	> aside{
		float: right;
		width: 20%;
		padding-left: $gutter/2;
	}

	@include breakpoint-to($screen-size-phone){
		> section{
			float: none;
			width: auto;
			padding-right: 0;
		}
		> aside{
			float: none;
			width: auto;
			padding-left: 0;
		}
	}
}

.entity-wrapper{
	padding: $gutter;
	@include pie-clearfix;
	> article{
		float: left;
		width: 50%;
		padding-right: $gutter/2;
	}
	> aside{
		float: right;
		width: 50%;
		padding-left: $gutter/2;
	}
	@include breakpoint-to($screen-size-phone){
		> article{ float: none; width: auto; padding-right:0 }
		> aside{ float: none; width: auto; padding-left:0; }
	}
}

