

	input[name=avatar]{
		text-indent: 70px;
		background-repeat: no-repeat;
	}

	.btn{
		@include adjust-font-size-to($font-size-small,1,$font-size-base);
		font-family: $font-family-open;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		text-shadow: 0 2px 1px rgba(0,0,0,.27);
		border-radius: 0;
		padding: rhythm(1/4,$font-size-small) rhythm(1,$font-size-small);
	}


	/*
	.btn-default {
		background-color: $color-green-sea;
		//@include background-image(linear-gradient(to bottom, tint($color-green-sea,20%), $color-green-sea));
		//box-shadow: 0 2px 0px shade($color-green-sea,40%);
		color: $color-white;
		border: none;
		@include adjust-font-size-to($font-size-small,1,$font-size-base);
		padding: rhythm(1/3,$font-size-base) rhythm(2,$font-size-base) rhythm(1/4,$font-size-base) rhythm(2,$font-size-base);
		font-family: $font-family-open;
		text-transform: uppercase;
	}
	*/




	.attending{
		padding: rhythm(2/3,$font-size-base) rhythm(1,$font-size-base) rhythm(1/2,$font-size-base) rhythm(1,$font-size-base);
		font-family: $font-family-open;
		text-transform: uppercase;
		&.yes{
			color: $color-white;
			background-color: $color-green;
		}
		&.no{
			color: $color-white;
			background-color: $color-red;
		}
	}
