

  .index-news-list{
    @extend %category-label;

  }
  .index-event-list{
    @extend %category-label;
  }

  .index-resources-list{
    @extend %category-label;
  }

	/*  Below is a brute-force attempt for the index page, since we are in a time crisis */
	.layout-footer{
		@include clearfix;
		padding: 40px 70px;

		a{
			color: $color-yellow;
		}

		a:hover{
			color: $color-red;
		}

		.address{
			width: 33%;
			color: $color-white;
			float: left;

			h1{
				font-weight: bolder;
				text-transform: uppercase;
			}
		}

		.links{
			width: 33%;
			float: left;
			font-family: 'open-sans';
			font-weight: normal;
		}
	}

	.hero{
		background: url('../frontpage/header-image.jpg') no-repeat;
		height: 640px;
		background-size: 120% auto;

		h1{
			color: $color-white;
			font-family: 'open-sans';
			font-weight: bold;
			text-shadow:1px 1px rgba(0,0,0,0.5);
			text-transform: uppercase;
			font-size: 12px;
			text-align: center;
			margin-top: -20px;
			margin-bottom: 80px;
		}

		h2{
			color: $color-white;
			font-family: 'bitter';
			font-weight: bold;
			font-size: 36px;
			text-align: center;
			line-height: 48px;
			text-shadow:1px 1px rgba(0,0,0,0.5);
		}

		.logo{
			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-top: 30px;
			}
		}

		.text{
			margin: 0 auto;
			max-width: 800px;
		}
	}

	main.frontpage{
		padding-left: 0;
		background-color: $color-blue-gray;
	}

	.btn{
		border: 1px solid;
		text-transform: none;
		font-family: 'open-sans';
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		padding: 11px 20px;
		margin:0 10px;
		@include border-radius(3px);
	}

	.btn-green{
		background-color: $color-green;
		color: $color-white;
		border-color: $color-green;
		border-bottom-color: $color-dark-green;
	}

	.btn-facebook{
		background: url('img/facebook-f.png') 20px bottom no-repeat $color-fbblue;
		padding-left:60px;
		color: $color-white;
		border-color: $color-fbblue;
	}

	.btn-across{
		display: block;
		text-align: center;
	}

	.btn-white{
		background-color: $color-white;
		color: $color-black;
		border-color: $color-gray;

	}

	.login-buttons{
		margin-bottom: 25px;
		text-align: center;
		margin: 0px auto;
		height: 95px;
		padding-top: 35px;
		box-shadow: 1px 0px 15px rgba(0,0,0,0.25);
		background-color: white;
	}

	.callout{
		max-width: 980px;
		margin: 0 auto;

		h1{
			font-family: 'bitter';
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 30px;
			line-height:36px;
			color:$color-black;
		}

		p{
			font-family: Georgia;
			margin-bottom: 60px;
		}

		.text{
			padding: 110px;
			text-align: center;
		}

		.btn {
			width: 360px;
			display: inline-block;
		}
	}

	.callout-two{
		background-color: $color-white;
		border: 1px solid $color-gray;
		margin: 0 auto;
		margin-bottom: 60px;

		.img{
			background: url('../frontpage/faghopar.jpg') no-repeat;
			height: 700px;
			background-size: cover;
			&:after {
				content:"";
				@include gradient(0deg, white);
				height: 100%;
				width: 100%;
				bottom: 0;
				display: inherit;
			}
		}
		.text {
			//box-shadow: 0px -10px 60px 60px white;
			padding-top:25px;
		}
	}

	.news-events{
		background-color: $color-white;
		border: 1px solid $color-light-gray;
		margin: 0 auto;
		margin-bottom: 60px;
		max-width: 980px;
		@include clearfix;
		padding: 60px;

		.col-md-6{
			width: 50%;
			float: left;
		}

		h1{
			font-family: 'open-sans';
			font-size: 14px;
			color: $color-sea;
			text-transform: uppercase;
			font-weight: bold;
		}


	}

	.single-article{
		.img-text-wrapper{
			@include clearfix;
			margin-bottom: 60px;

			figure{
				width: 130px;
				height: 130px;
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}

		width: 100%;

		h2{
			font-family: 'bitter';
			font-size: 24px;

			a{
				color: $color-black;
			}
		}

		figure{
			float: left;

		}

		.text{
			float: left;
		}
	}

	.col-md-6.first{
		padding-right: 30px;
	}

	.col-md-6.last7{
		padding-left: 30px;
	}

	.image-boxes{
		@include clearfix;
		width:100%;

		.box-large {width:25%; float:left;height:250px;}
		.box-two {width:12.5%; float:left; height:250px;}
		.img_big, .img_medium {
			background-size:cover;
			background-repeat:no-repeat;
		}
		.img_medium {width:100%; height:50%;}
		.img_big {width:100%; height:100%;}
	}

	.not-logged-in{
		nav{
			display: none;
		}
	}

	.layout-content,
	#editable-static-page-container{
		max-width: 980px;
		margin: 0 auto;
	}

	.frontpage{
		header{
			display: none;
		}
	}

	/* Login section */
