




	/**
	 * MAIN CONTAINER
	 *
	 * Holds all content.
	 */
	main[role=main]{
		position: relative;
		z-index: 2;
		margin-bottom: $gutter*13;
		background-color: $color-white;
		@include breakpoint($phone){
			margin-bottom: 0;
		}
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) ;
	}

	div.layout:before{
		content: " ";
		display: block;
		background-image: url("images/header-logo-text.png");
		background-repeat: no-repeat;
		height: 21px;
		width: 100%;
		margin-left: -60px;
		margin-bottom: $gutter;
	}
	div.layout.layout--no-head:before{
		content: " ";
		display: block;
		background-image: none;
		background-repeat: no-repeat;
		height: 0;
		width: 100%;
		margin-left: 0px;
		margin-bottom: 0;
	}
	@include breakpoint($phone){
		div.layout:before{
			content: " ";
			display: block;
			background-image: none;
			background-repeat: no-repeat;
			height: 0;
			width: 100%;
			margin-left: 0px;
			margin-bottom: 0;
		}
	}

	/**
	 * MAIN HEAD
	 *
	 * Within MAIN CONTAINER there is this header.
	 */
	.main__header{
		display: table;
		table-layout: fixed;
		width: 100%;
		//margin-bottom: $gutter*2;
		background-color: $color-blue;
		&:after{

		}
		.main__brand{
			display: table-cell;
			background-image: url("images/header-logo-01.png");
			background-repeat: no-repeat;
			background-position: right 0;
			background-color: $color-blue;
			width: 272px;
			height: $select-size;
			font: 0/0 a;
			a{
				display: block;
				width: 272px;
				height: $select-size;
			}
			.main__burger,.main__home{
				display: none;
			}
		}
		.main__menu{
			display: table-cell;
			width: 100%;
			.main__menu-items{
				@include pie-clearfix;
				width: 100%;

				> li{
					float: left;
					a{
						display: block;
						font-family: $font-family-open;
						text-transform: uppercase;
						color: $color-white;
						//padding: rhythm(1,$font-size-base);
						padding: 1.7em rhythm(1,$font-size-base);
						font-weight: $font-weight-bold;
					}
				}
			}
		}
		.main__search{

			display: table-cell;
			width: 300px;
			vertical-align: middle;

		}

		/**
		 * The main menu (the dark-blue with white letters) as seen in small
		 * desktop machines (<=1024)
		 */
		@include breakpoint($desktop){
			.main__brand{
				background-image: url("images/header-logo.svg");
				background-position: center 7px;
				width: 140px;
			}

		}

		/**
		 * The main menu (the dark-blue with white letters) as seen in tables
		 *
		 */
		@include breakpoint($tablet){
			display: block;
			.main__brand{
				display: block;
				width: auto;
				background-image: none;
				background-repeat: no-repeat;
				background-position: center center;
				height: auto;
				margin-bottom: $gutter;
				position: relative;
				z-index: 2;
				a{
					background-image: url("images/header-logo.svg");
					background-repeat: no-repeat;
					background-position: center center;
					height: 80px;
					width: 140px;
					margin: auto;
				}

				.main__burger{
					position: absolute;
					top: 0;
					right: 0;
					background: none;
					display: block;
					text-align: right;
					padding: 22px;

					i{
						color: $color-white;
						font-size: 24px;
					}
				}
			}
			.main__menu{
				background-color: $color-green-sea;
				position: absolute;
				z-index: 1;
				top: -4%;
				left: 0;
				width: 100%;
				opacity: 0;
				-webkit-transition: top .4s, top .5s, opacity .2s;
				-moz-transition: top .4s, top .5s, opacity .2s;
				-ms-transition: top .4s, top .5s, opacity .2s;
				-o-transition: top .4s, top .5s, opacity .2s;
				transition: top .4s, top .5s, opacity .2s;
				box-shadow: 0 0px 0px rgba(0,0,0,.37);
				.main__menu-items {
					padding: rhythm(1/2,$font-size-base) 0;
					> li {
						float: none;
						a{
							padding: rhythm(1/2,$font-size-base) rhythm(1/2,$font-size-base) rhythm(1/2,$font-size-base) rhythm(1,$font-size-base);
						}
					}
				}
			}
		}

		@include breakpoint($phone){
			.main__brand{
				a{
					height: 70px;
				}
				.main__home{
					position: absolute;
					top: 0;
					left: 0;
					background: none;
					display: block;
					text-align: left;
					padding: 22px;

					i{
						color: $color-white;
						font-size: 24px;
					}
				}
			}
		}
	}

	body.state-mobile-menu-open{
		.main__header .main__menu{
			top: 70px;
			box-shadow: 0 4px 8px rgba(0,0,0,.37);
			opacity: 1;
		}
	}


	/**
	 * MAIN FOOTER
	 *
	 * This is the footer. It has the lowest z-index and
	 * lies under all content.
	 */
	footer[role=footer]{
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-black;

		.footer-wrapper{
			position: absolute;
			width: 100%;
			bottom: 0;
			@include adjust-font-size-to($font-size-sub,1,$font-size-base);
			font-family: $font-family-open;
			//color: $color-yellow;
			color: $color-white;
			a{
				color: $color-white;
			}
			.footer-wrapper__social{
				@include pie-clearfix;
				//max-width: 960px;
				margin: 0 $gutter*2;
				padding: $gutter/2 $gutter/2 $gutter $gutter/2;
				border-top: 1px solid tint($color-black,5%);
			}
			.footer-wrapper__inner{
				@include pie-clearfix;
				//max-width: 960px;
				margin: 0 $gutter*2;
				padding: $gutter/2;
				border-bottom: 1px solid shade($color-black,15%);
			}
			.footer-wrapper__item{
				float: left;
				width: 33.33%;
			}
			.footer-wrapper__address{
				font-family: $font-family-bitter;
				@include adjust-font-size-to($font-size-base,1,$font-size-sub);
				a{
					color: $color-orange;
				}
				i{
					padding-right: $gutter/4;
				}
				i.icon-mobile{
					padding-right: 13px;
				}
			}
			.footer-wrapper__brand{
				font-family: $font-family-open;
				text-transform: uppercase;
				@include margin-trailer(1/2,$font-size-base);
			}

			.footer-wrapper__icon{
				float: left;
				color: shade($color-gray-light,30%);
				i{
					@include adjust-font-size-to($font-size-header,1,$font-size-base);
					padding-right: $gutter/2;
				}

			}
			.footer-wrapper__social-list{
				@include pie-clearfix;
				@include adjust-font-size-to($font-size-header,1,$font-size-base);
				float: right;
				li{
					float: left;
					a{
						color: shade($color-gray-light,30%);
					}
					a:hover{
						color: $color-white;
					}
				}

			}
			/*
			@include breakpoint($phone){
				.footer-wrapper__inner{
					margin: 0;
					padding: $gutter/2;
				}
				.footer-wrapper__address{

				}
				.footer-wrapper__item{
					float: left;
					width: 50%;
					@include adjust-font-size-to($font-size-small,1,$font-size-sub);
				}
				.footer-wrapper__item:last-child{
					clear: both;
					float: none;
					width: 100%;
					@include pie-clearfix;
					margin-left: (- rhythm(1/2,$font-size-small));
					li{
						float: left;
						padding: rhythm(1/2,$font-size-small);
						width: 25%;
					}
				}
			}
			*/
		}

		@include breakpoint($phone){
			position: relative;
			.footer-wrapper{
				position: relative;

				.footer-wrapper__inner{
					margin: 0 $gutter;
					padding:$gutter 0;

					.footer-wrapper__item{
						width: auto;
						float: none;
						border-top: 1px solid tint($color-black,5%);
						border-bottom: 1px solid shade($color-black,15%);
						padding: $gutter 0;
					}
					.footer-wrapper__item:first-child{
						padding-top: 0;
						border-top: none;
					}.footer-wrapper__item:last-child{
						padding-bottom: 0;
						border-bottom: none;
					 }
				}
				.footer-wrapper__social{
					margin: 0 $gutter;
					padding:$gutter 0;
				}
			}
		}
	}





	nav[role=navigation]{
		background-color: $color-green-sea;
		transform: translate3d(- ($menu-size - $select-size),0,0);
		-webkit-transform: translate3d(- ($menu-size - $select-size),0,0);
		transition: all .4s;
		position: fixed;
		z-index: 4;
		top: 0;
		width: $menu-size;
		height: 100%;
		@include pie-clearfix;
		overflow: hidden;

		.navigation__wrapper{
			width: ($menu-size - $select-size);
			overflow: hidden;
			float: left;
			position: relative;
		}


		ul.navigation{
			position: relative;
			z-index: 5;

			width: 400%;

			@include pie-clearfix;
			> li{
				padding: $gutter;
				float: left;
				width: ( 100% / 4 );
				> ul > li > ul {
					padding-left: $gutter;
				}
				a.headline{
					@include adjust-font-size-to($font-size-base,1,$font-size-base);
					display: block;
					@include margin-trailer(1,$font-size-base);
					border-bottom: 1px solid tint($color-green-sea,50%);
				}
				a:before{
					font-family: 'icomoon';
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;

					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					padding-right: rhythm(1/4,$font-size-small);
				}
				a{
					@include adjust-font-size-to($font-size-small,1,$font-size-base);
					color: $color-white;
					font-family: $font-family-open;
				}

			}
		}

		.categories {
			position: relative;
			z-index: 6;
			float: right;
			width: $select-size;
			height: 100%;
			background-color: $color-black;
			a{
				display: block;
				height: $select-size;
				width: $select-size;
				color: $color-white;
				border-bottom: 1px solid shade($color-gray-light,60%);
				transition: all .2s;
			}
			a:hover, a.active{
				background-color: $color-green-sea;
				border-bottom-color: shade($color-green-sea,10%);
			}
			a.categories__item{
				font-size: 0;
			}
			a.categories__item:before{
				font-family: 'icomoon';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\e603";
				font-size: 24px;
				padding: 28px;
				display: block;
			}
			a.categories__home{
				background-color: $color-green;
				border-bottom: none;
				font-size: 0;
			}
			a.categories__home:before{
				content: "\e603";
			}
			a.categories__groups:before{
				content: "\e604";
			}
			a.categories__users:before{
				content: "\e608";
			}
			a.categories__config:before{
				content: "\e602";
			}
		}
	}
	@include breakpoint($phone){

		nav[role=navigation]{
			transform: translate3d(-100%, 0, 0);
		/*
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin-top: -100%;
			width: 100%;
			height: 100%;
			transform: translate3d(0, 0, 0);

			.navigation__wrapper{
				width: 100%;
				float: none;
			}
			ul.navigation{

			}
			.categories{
				float: none;
				width: 100%;
				@include pie-clearfix;
				> li{
					float: left;
				}
			}
			*/
		}

	}



	/**
	 *
	 */
	body.state-login{
		main[role=main],
		footer[role=footer]{
			margin-left: $select-size;
		}
		@include breakpoint($phone){
			main[role=main],
			footer[role=footer]{
				margin-left: 0;
			}


		}

		nav[role=navigation]{

		}


		&.state-open{
			overflow: hidden;
			main[role=main],
			footer[role=footer]{
				//transform: translate3d(300px,0,0);
			}

			nav[role=navigation]{
				transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
			}

			@include breakpoint($phone){
				nav[role=navigation]{
					transform: translate3d(-0%, 0, 0);
				}
			}

		}
	}
