

	nav[role=navigation]{
		display: none;
	}

	main[role=main]{
		position: relative;
		z-index: 1;
		margin-bottom: $gutter*8;
		background-color: $color-white;

		> header {
			@include pie-clearfix;
			/*
			background-color: $color-blue;
			h1{
				float: left;
				width: 20%;
				background-color: $color-white;
			}
			ul{
				float: left;
				width: 50%;
				@include pie-clearfix;
				li{
					float: left;
					padding: rhythm(1/2,$font-size-base);
					a{
						color: $color-white;
					}
				}
			}
			form{
				width: 20%;
				float: left;
			}
			*/
		}


		.main__header{}
		.main__brand{
			float: left;
			font: 0/0 a;
			background-image: url("images/header-logo.png");
			background-repeat: no-repeat;
			background-position: right 0;
			background-color: $color-blue;
			width: 205px;
			height: 111px;
		}
		.main__menu{

			margin-right: 205px;
			width: 100%;
			@include pie-clearfix;
			/*ul*/.main__menu-items{
				@include pie-clearfix;
				float: left;
				width: 62%;
				background-color: $color-blue;
				li{

					float: left;
					a{
						@include adjust-font-size-to($font-size-sub,1,$font-size-base);
						font-family: open-sans;
						text-transform: uppercase;
						display: block;
						padding: rhythm(1,$font-size-sub);
						color: $color-white;
					}
				}
			}
			.main__search{
				float: right;
				width: 20%;
			}
		}
		.main__search{
			float: none;
			width: 30%;
		}
	}

	footer[role=footer]{
		position: fixed;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-black;

		.footer-wrapper{
			position: absolute;
			width: 100%;
			bottom: 0;
			.footer-wrapper__inner{
				@include pie-clearfix;
				max-width: 960px;
				margin: auto;
				padding: $gutter;
			}
			.footer-wrapper__item{
				float: left;
				width: 33.33%;
			}
		}
	}