
/**
 * This styles the rich-text-editor and its Markup
 * presentation.
 * Since this is a Polymer element, this could go
 * into the element deceleration, maybe that could
 * be a refactor-sprint sometime.
 */
stjornvisi-rich {
    marked-element {
        @extend %rich-text;
        .marked-element {
            background-color: $color-white;
            background-image: none;
            border: 1px solid $input-border;
            border-radius: $input-border-radius;
            padding: $padding-base-vertical $padding-base-horizontal;
        }
    }
    nav{
        display: inline-block;
        margin-left: rhythm(1,$font-size-base);
        a{
            padding: 0 rhythm(1/2,$font-size-base) 0 0;
            color: $color-green-sea;
            text-decoration: none;
        }
        a:before{
            padding-right: rhythm(1/2,$font-size-base);
            content: "|";
        }
    }
}


/**
 * This styles all CRUD controls.
 * There us a type on the name so this should be
 * refactored soon.
 */
stjonvisi-control {
    display: block;
    &.inline {
        > * {
            display: inline-block;
        }
        > *:before {
            content: '';
            padding: 0;
        }
    }
    > * {
        display: block;
    }
    > a {
        @include adjust-font-size-to($font-size-small,1,$font-size-base);
        font-family: $font-family-open;
        word-break: keep-all;
        white-space: nowrap;
        i {
            color: tint($color-green-sea,30%);
            padding-right: rhythm(1/4,$font-size-small);
        }
    }
    a.update i{
        color: $color-green;
    }
    a.delete i{
        color: $color-red;
    }
}
