
stjonvisi-control{
	display: block;
	position: relative;
	z-index: 1;
}
stjonvisi-control::shadow{
	.stjonvisi-control__edit{
		display: inline-block;
		width: 24px;
		height: 24px;
		background-color: $color-red;
		padding: $gutter/3;
		border-radius: 50%;
		text-align: right;
		svg path{ fill: $color-white; }
	}
	.stjonvisi-control__wrapper{
		background-color: $color-white;
		position: absolute;
		box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.17);
	}
}
stjonvisi-control::content{
	> * {
		display: block;
	}
}

/*
	@mixin stjonvisi-control-style{
		text-align: right;
		position: relative;
		.stjonvisi-control__edit{
			background-color: $color-red;
			display: inline-block;
			border-radius: 50%;
			height: 25px;
			width: 25px;
			padding: $gutter/2;
			svg g{ fill: $color-white; }
		}

		::content > *{
			display: block;
		}
		.stjonvisi-control__wrapper > *{
			display: block;
		}
		.stjonvisi-control__wrapper{
			position: absolute;
			background-color: $color-white;
			z-index: 2;
			box-shadow: 0 0 2px rgba(0,0,0,.27);
			display: none;
		}



	}



stjonvisi-control::shadow{
	@include stjonvisi-control-style;
}
stjonvisi-control{
	display: block;
	@include stjonvisi-control-style;
}
stjonvisi-control.active{
	.stjonvisi-control__wrapper{
		display: block;
	}
}
*/