@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/filter";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/utilities/sprites";

$arrow-icons: sprite-map("arrows/*.png",$spacing: 40px);
$mime-icons: sprite-map("mime/*.png",$spacing: 40px);

  //
  // everything that has this structure
  //
  //  <...>
  //    <header>
  //      <time>
  //      <h1><a>...</a></h1>
  //    </header>
  //    <section>...</section>
  //    <footer>...</footer>
  //  <...>
  //
  %entry{
    header{
      time{
        text-transform: uppercase;
        @include adjust-font-size-to( $font-small-size );
        font-family: 'open-sans';
      }
      h1{
        @include adjust-font-size-to( $font-headline-size,1.2 );
        @include breakpoint-to($resolution-small){
          @include adjust-font-size-to($font-headline-small-size,1,$font-base-size);
        }
        font-weight: bold;
        padding: rhythm(.5,$font-headline-size) 0;
        a{
          color: $color-black;
        }
      }
    }
    section{
      @include pie-clearfix;
      word-wrap: break-word;
      img{
        float: left;
        margin: 0 rhythm(1) rhythm(1) 0;
      }
      a{
        color: $color-sea;
      }
      a:hover{
        text-decoration: underline;
      }
      p{
        margin: 0 0 rhythm(.5,$font-base-size) 0;
      }
      p:last-of-type{
        margin: 0;
      }
    }
    footer{}
  }

  %list-entry{
    time{
      font-family: 'open-sans';
      @include adjust-font-size-to($font-small-size,2,$font-base-size);
    }
    img{
      width: 100%;
      max-width: 100%;
    }
    h2{
      font-weight: bold;
      font-family: 'open-sans';
      margin: rhythm(.25,$font-base-size) 0 rhythm(.5,$font-base-size) 0;
      a{
        color: $color-black;
      }
    }
  }

  //
  // List of a.href or span that are listed
  // horizontally. Between them is placed a dot
  //
  //
  %dot-split-list{
    @include horizontal-list-container;
    margin: rhythm(.5,$font-base-size) 0;
    li{
      @include horizontal-list-item;
      a, span{
        font-family: 'open-sans';
        @include adjust-font-size-to($font-middle-size,1,$font-base-size);
        color: $color-sea;
      }
      a:after, span:after{
        content: ' \2022';
      }
    }
    li:last-child{
      a:after, span:after{
        content: none;
      }
    }
  }

  //
  //
  %gallery-list{
    @include pie-clearfix;
    //@include horizontal-list-container;
    margin-left: -$padding/4;
    margin-right: -$padding/4;
    li{
      float: left;
      width: 25%;
      padding: $padding/4;
      @include breakpoint-to(1024){
        width: 33.33%;
      }
      @include breakpoint-to(960){
        width: 50%;
      }
      @include breakpoint-to(650){
        width: 100%;
      }
      //@include horizontal-list-item;
      img{
        display: block;
        border: 1px solid $color-gray;
        padding: $padding/6;
        width: 100%;
        //height: 80px; //todo this should not be here
      }
    }
  }

  %resources-list{
	  li{
			//border-bottom: 1px solid $color-gray;
			padding: rhythm(1/4,$font-middle-size) 0;
		  a{
			  font-family: open-sans;
			  text-transform: lowercase;
			  color: $color-sea;
			  @include adjust-font-size-to($font-middle-size,1,$font-base-size);
			  background-image: $mime-icons;
			  background-position: sprite-position($mime-icons, default, 0px,2px);
			  background-repeat: no-repeat;
			  padding-left: rhythm(1.5);
		  }
		  a[href$=pdf],a[href$=PDF]{
			  background-position: sprite-position($mime-icons, pdf, 0px,2px);
		  }
		  a[href$=xsl],a[href$=XSL],a[href$=xslx],a[href$=XSLX]{
			  background-position: sprite-position($mime-icons, xsl, 0px,2px);
		  }
		  a[href$=jpg],a[href$=jpeg],a[href$=JPG],a[href$=JPEG],
		  a[href$=png],a[href$=gif],a[href$=PNG],a[href$=GIF]{
			  background-position: sprite-position($mime-icons, image, 0px,2px);
		  }
	  }
  }



  .row{
    @include pie-clearfix;
    margin-left: -$padding/2;
    margin-right: -$padding/2;
    @include breakpoint-to($resolution-medium){
      margin-left: 0;
      margin-right: 0;
    }
    .column{
      float: left;
      padding: 0 $padding/2;
    }
  }
  .row.half{
    .column{
      width: 50%;
      @include breakpoint-to($resolution-medium){
        width: 100%;
        padding: 0;
      }
    }
  }
  .row.third{
    .column{
      width: 33.3333%;
    }
  }
  .row.quarter{
    .column{
      width: 25%;
    }
  }

  .row.grid{
    .column.main{
      width: 39%;
    }
    .column.aside{
      width: 22%;
    }
  }

// - - - - [ Lists ] - - - - - - - - - - - - - - - - - - - -
  ul.item-list{
    &>li{
      padding: rhythm(1) 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
  ul.item-list li:last-child{
    border-bottom-style: none;
  }
  ul.item-list.theme-white{
    &>li{
      border-bottom-color: $color-gray;
    }
  }

  ul.item-list.theme-black{
    &>li{
      border-bottom: 1px solid tint($color-black,20%);
    }
  }


// - - - - [ Buttons ] - - - - - - - - - - - - - - - - - - - -

  a.attending, span.attending{
    @include inline-block;
    @include border-radius;
    background-color: $color-red;
    width: 42px;
    height: 42px;
    font: 0/0 a;
    @include transition(width $animation-speed);
  }
  a.attending:hover{
    width: 84px;
  }
  span.attending.yes{
    background-color: $color-gray;
  }
  span.attending.no{
    background-color: $color-gray;
  }
  a.attending.yes{
    background-color: $color-green;
  }

  a.attending.no{
    background-color: $color-red;
  }

// - - - - [ GOOGLE CANVAS MAP ] - - - - - - - - - - - - - - - - - - - -
  #map_canvas{
    height: 100%;
  }


// - - - -

  [role=tabpanel]{
    width: 100%;
    overflow: hidden;
    position: relative;
    @include transition(opacity $animation-speed);
    [role=tablist]{
      opacity: 1;
      @include pie-clearfix;
      width: 200%;
      margin-left: 0;
      @include transition(margin-left $animation-speed);
      [role=tab]{
        float: left;
        width: 50%;
        opacity: 1;
        @include transition(opacity $animation-speed);
      }
      [role=tab].off-canvas{
        opacity: 0;
      }
    }
    [role=tablist].edit-mode{
      margin-left: -100%;
    }
  }
  [role=tabpanel].preload{
    [role=tablist]{
      opacity: .5;
    }
  }
  [role=tabpanel].preload:after{
    position: absolute;
    content: 'Loading...';
    display: block;
    padding: $padding;
    font-weight: bold;
    font-family: 'open-sans';
    text-transform: uppercase;
    background-color: $color-red;
    color: $color-white;
    top: 25%;
    left: 25%;
  }


 // - - - -
  table.calendar{
    border:1px solid $color-gray;
    width: 100%;
    border-collapse: collapse;
    font-family: 'open-sans';
    @include adjust-font-size-to($font-middle-size,1,$font-base-size);
    caption{
      @include pie-clearfix;
      padding: $padding 0;
      h1{
        float: left;
        @include adjust-font-size-to($font-large-size,1.5,$font-middle-size);
        font-weight: bold;
        text-transform: uppercase;
      }
      h2{
        float: left;
        @include adjust-font-size-to($font-middle-size*1.5,1.5,$font-middle-size);
        margin: 0 rhythm(2,$font-middle-size*1.5);
      }
      nav{
        border: 1px solid $color-gray;
        @include border-radius(5px);
        float: right;
        @include pie-clearfix;
        a{
          float: left;
          background-image: $arrow-icons;
          background-repeat: no-repeat;
          height: 34px;
          //height: rhythm(1,$font-middle-size);
          width: 56px;
          //@include inline-block;
          padding: rhythm(.25,$font-middle-size) rhythm(.5,$font-middle-size);
          font:0/0 a;
        }
        a.prev{background-position: sprite-position($arrow-icons, simple-left,10px,10px);}
        a.prev:hover{background-position: sprite-position($arrow-icons, simple-left-hover,10px,10px);}
        a.next{background-position: sprite-position($arrow-icons, simple-right,10px,10px);}
        a.next:hover{background-position: sprite-position($arrow-icons, simple-right-hover,10px,10px);}
        a:hover{
          background-color: $color-gray;
        }
        a:first-child{
          border-right: 1px solid $color-gray;
        }
      }
    }
    td{
      padding: $padding/2;
      vertical-align: top;
      width: 14.285%;
      border:1px solid $color-gray;
    }
    a{
      color: $color-sea;
      font-weight: bold;
    }
    a:hover{
      color: $color-red;
    }
    ul{
      margin: -(rhythm( .5, $font-middle-size )) 0;
      li{
        border-bottom: 1px solid $color-gray;
        padding: rhythm( .5, $font-middle-size ) 0;
      }
      li:last-child{
        border-bottom: none;
      }
    }
    thead{
      td{
        background-color: $color-gray;
        color: $color-black;
        font-weight: bold;
        text-align: center;
      }
    }
    tbody{
      td{
        min-height: 140px;
        overflow: hidden;
        position: relative;
        span{
          display: block;
          float: right;
          position: absolute;
          z-index: -1;
          top: 10px;
          right: -15px;
          color: tint($color-gray,60%);
          @include adjust-font-size-to(84px,1,$font-middle-size);
          font-weight: bold;
        }
      }
    }
  }



// - - - - - - -
  ul.pagination{
    @include horizontal-list-container;
    @include border-radius;
    border: 1px solid $color-gray;
    font-family: 'open-sans';
    li.active, li:hover{
      a{
        background-color: $color-gray;
        color:$color-black;
      }
    }
    li{
      @include horizontal-list-item;
      a{
        display: block;
        padding: rhythm(.5,$font-middle-size) rhythm(1,$font-middle-size);
        @include adjust-font-size-to($font-middle-size,1,$font-base-size);
        color: $color-sea;
      }
    }
  }



// - - - -
	.btn-group{
		background-color: $color-sea;
		padding: $padding/2;

		ul.dropdown-menu{
			li{
				padding: rhythm(.25) 0;
				a{
					font-family: open-sans;
					color: $color-white;
				}
			}
			li.divider{
				border-bottom: 1px solid tint($color-sea,10%);
				border-top: 1px solid shade($color-sea,10%);
				padding: 0;
			}
		}

	}
