
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/sprites";
@import "compass/css3/filter";
@import "compass/css3/box-shadow";

$side-menu-icons: sprite-map("side-menu/*.png",$spacing: 40px);
$misk-icons: sprite-map("misk/*.png",$spacing: 40px);

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  html, body{
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
  }


// - - - - [ OFF CANVAS NAVIGATION ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  nav.layout-nav{
    background-color: $color-sea;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    ul.navigation{
      @include pie-clearfix;
      @include transition(all $animation-speed);
      width: 600%;
      &>li{
        width: (100%/6);
        float: left;
        &>a{
          padding: rhythm(1,$font-middle-size);
          font-family: 'open-sans';
          color: $color-white;
          display: block;
        }
        ul{
          padding: $padding;
          li{
            a{
              font-family: 'open-sans';
              color: $color-white;
            }
          }
        }
      }
    }
  }


// - - - - [ MAIN CONTENT ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  main.layout-main{
    background-color: $color-white;
    position: relative;
    z-index: 1;
    @include transform(translate3d(0, 0, 0));
    @include transition(all $animation-speed);
    padding-left: 80px;
    @include breakpoint-to($resolution-small){
      padding-left: 0;
    }
  }

// - - - - [ NAV OPEN ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  body.nav-open{
    overflow: hidden;
    main.layout-main{
      @include transform(translate3d(300px, 0, 0));
      @include breakpoint-to($resolution-small){
        @include transform(translate3d(80%, 0, 0));
        @include box-shadow(0 0 50px shade($color-sea,25%) );
      }
    }
  }

// - - - - [ ASIDE MENU ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  aside.layout-aside{
    @include breakpoint-to($resolution-small){
      display: none;
    }
    %side-menu-icons{
      width: 80px;
      height: 80px;
      font: 0/0 a;
      background-image: $side-menu-icons;
      background-repeat:no-repeat;
      display: block;
      color: $color-white;
    }
    position: fixed;
    background-color: $color-black;
    width: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    ul{
      li{
        a{
          @extend %side-menu-icons;
        }
        a:hover,a.active{
          background-color: $color-sea;
        }
        a.home{
          background-color: $color-green;
          background-position: sprite-position($side-menu-icons, home,30px,35px);
        }
        a.groups{
          background-position: sprite-position($side-menu-icons, groups,30px,35px);
        }
        a.news{
          background-position: sprite-position($side-menu-icons, news,30px,35px);
        }
        a.events{
          background-position: sprite-position($side-menu-icons, events,30px,35px);
        }
        a.user{
          background-position: sprite-position($side-menu-icons, users,30px,35px);
        }
        a.config{
          background-position: sprite-position($side-menu-icons, config,30px,35px);
        }
      }
    }
  }

// - - - - [ MAIN HEADER ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  header.page-header{
    background-color: $color-blue;
    @include pie-clearfix;
    h1.page-brand{
      float: left;
      a{
        display: block;
        width: 200px;
        height: 84px;
        background-image: url(img/stjornvisi-logo.svg);
        background-size: 200px auto;
        background-position: 0px -54px;
        font:0/0 a;
      }
    }
    ul.page-main-menu{
      float: left;
      @include horizontal-list-container;
      li{
        @include horizontal-list-item;
        a{
          display: block;
          color: $color-white;
          text-transform: uppercase;
          font-family: 'open-sans';
          font-weight: bold;
          padding: rhythm(1.2,$font-middle-size);
          @include adjust-font-size-to($font-middle-size,1,$font-base-size);

        }
      }
    }
    form.page-search-form{
      float: right;
      input[type=search]{
        border: none;
        width: 80px;
        background-color: $color-blue;
        @include transition(all $animation-speed);
        @include adjust-font-size-to($font-middle-size,1,$font-base-size);
        padding: rhythm(1.2,$font-middle-size);
        background-image: $misk-icons;
        background-position: sprite-position($misk-icons, search,30px,30px);
        background-repeat: no-repeat;
      }
      input[type=search]:focus{
        width: 300px;
        background-color: shade($color-blue,20%);
        outline: none;
      }
      input[type=submit]{ display: none }
    }
  }

  div.layout-content{
  //  padding: $padding;
  }

// - - - - [ MAIN HEADER ] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  footer.layout-footer{
    background-color: $color-black;
  }



// - - - - - [SECTION / ASIDE grid] - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.section-aside-grid{
		height: auto;
		overflow: hidden;
		padding: $padding;
		@include breakpoint-to($resolution-small){
			padding: $padding/2;
		}
		&>section{
			float: left;
			width: 100%;
			margin-right: -300px;
			padding-right: 300px + $padding;
			@include breakpoint-to($resolution-small){
				display: block;
				float: none;
				width: auto;
				margin-right: 0px;
				padding-right: 0px;
			}
		}
		&>aside{
			float: left;
			position: relative;
			width: 300px; /* The size of the fixed block. */
			@include breakpoint-to($resolution-small){
				width: auto;
				float: none;
			}
		}
	}

	/* OLD TABLE / TABLE-CELL implementation
	  .section-aside-grid{
		padding: $padding;
		display: table;
		table-layout: fixed;
		width: 100%;
		@include breakpoint-to($resolution-small){
		  display: block;
		}
		&>section{
		  display: table-cell;
			padding-right: $padding/2;
		  width: 100%;
		  vertical-align: top;
		  position: relative;
		  @include breakpoint-to($resolution-small){
			display: block;
		  }
		}
		&>aside{
		  padding-left: $padding/2;
		  display: table-cell;
		  width: 300px;
		  vertical-align: top;
		  position: relative;
		  @include breakpoint-to($resolution-small){
			display: block;
			width: 100%;
			padding-left: 0;
		  }
		}
	  }
	*/