
// - - - - - - [ OPEN SANS ] - - - - - - - - - - - - - - - - - - - - - - 
	@font-face {
		font-family: 'Open Sans';
		//src: url('fonts/open-sans/OpenSans-ExtraBold-webfont.eot');
		src: url('fonts/open-sans/OpenSans-ExtraBold-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-ExtraBold-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
		font-weight: 900;
		font-style: normal;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot');
		src: url('fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
		font-weight: 900;
		font-style: italic;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-Bold-webfont.eot');
		src: url('fonts/open-sans/OpenSans-Bold-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-BoldItalic-webfont.eot');
		src: url('fonts/open-sans/OpenSans-BoldItalic-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-BoldItalic-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
		font-weight: 700;
		font-style: italic;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-Semibold-webfont.eot');
		src: url('fonts/open-sans/OpenSans-Semibold-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
		font-weight: 300;
		font-style: normal;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot');
		src: url('fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
		font-weight: 300;
		font-style: italic;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-Regular-webfont.eot');
		src: url('fonts/open-sans/OpenSans-Regular-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
		font-weight: 200;
		font-style: normal;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-Italic-webfont.eot');
		src: url('fonts/open-sans/OpenSans-Italic-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
		font-weight: 200;
		font-style: italic;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-LightItalic-webfont.eot');
		src: url('fonts/open-sans/OpenSans-LightItalic-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
		font-weight: 100;
		font-style: italic;

	}
	@font-face {
		font-family: 'Open Sans';
        //src: url('fonts/open-sans/OpenSans-Light-webfont.eot');
		src: url('fonts/open-sans/OpenSans-Light-webfont.eot') format('embedded-opentype'),
		url('fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
		url('fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
		url('fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
		font-weight: 100;
		font-style: normal;

	}

// - - - - - - - - - [ BITTER ] - - - - - - - - - - - - - - - - - - - - - -

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter-Regular'),
    url(fonts/bitter/bitter-normal.woff2) format('woff2'),
    url(fonts/bitter/bitter-normal.woff) format('woff');
}
@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter-Bold'),
    url(fonts/bitter/bitter-bold.woff2) format('woff2'),
    url(fonts/bitter/bitter-bold.woff) format('woff');
}


// - - - - - - [ ICONS ] - - - - - - - - - - - - - - - - - - - - - -
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icon/icomoon.eot');
	src:url('fonts/icon/icomoon.eot') format('embedded-opentype'),
	url('fonts/icon/icomoon.woff') format('woff'),
	url('fonts/icon/icomoon.ttf') format('truetype'),
	url('fonts/icon/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stjornvisi:before {
	content: "\e613";
}

.icon-facebook2:before {
	content: "\e612";
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-file-o:before {
	content: "\f016";
}

.icon-list:before {
	content: "\f03a";
}

.icon-plus:before {
	content: "\f067";
}

.icon-minus:before {
	content: "\f068";
}

.icon-bar-chart:before {
	content: "\f080";
}

.icon-phone:before {
	content: "\f095";
}

.icon-envelope:before {
	content: "\f0e0";
}

.icon-mobile:before {
	content: "\f10b";
}

.icon-file-pdf-o:before {
	content: "\f1c1";
}

.icon-file-word-o:before {
	content: "\f1c2";
}

.icon-file-excel-o:before {
	content: "\f1c3";
}

.icon-file-image-o:before {
	content: "\f1c5";
}

.icon-area-chart:before {
	content: "\f1fe";
}

.icon-pie-chart:before {
	content: "\f200";
}

.icon-calendar-o:before {
	content: "\e60f";
}

.icon-mode-edit:before {
	content: "\e611";
}

.icon-chevron-left:before {
	content: "\f0a4";
}

.icon-rss:before {
	content: "\e610";
}

.icon-chevron-right:before {
	content: "\e60e";
}

.icon-document:before {
	content: "\e60b";
}

.icon-exel:before {
	content: "\e60c";
}

.icon-pdf:before {
	content: "\e60d";
}

.icon-facebook:before {
	content: "\e60a";
}

.icon-burger:before {
	content: "\e600";
}

.icon-cancel:before {
	content: "\e601";
}

.icon-cog:before {
	content: "\e602";
}

.icon-home:before {
	content: "\e603";
}

.icon-horn:before {
	content: "\e604";
}

.icon-mail:before {
	content: "\e605";
}

.icon-no:before {
	content: "\e606";
}

.icon-search:before {
	content: "\e607";
}

.icon-users:before {
	content: "\e608";
}

.icon-yes:before {
	content: "\e609";
}
