
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-shadow";

  form.form-horizontal{
    input{
      vertical-align: middle;
    }
    div.form-group{
      label{
        font-family: 'open-sans';
        @include adjust-font-size-to($font-small-size,1,$font-base-size);
        @include inline-block;
      }
      input,textarea{
        outline: none;
      }

      input[required]{
        position: relative;
      }
      input[required]:after{
        content: "*";
        display: block;
        color:$color-red;
      }
      input.form-control, textarea.form-control{
        font-family: 'open-sans';
        display: block;
        width: 100%;
        border: 1px solid $color-gray;
        padding: rhythm(.5,$font-base-size);
        @include border-radius;
        @include box-shadow(inset 0px 4px 5px -3px rgba(0,0,0,.1));
      }
      input.avatar, input.media{
        background-repeat: no-repeat;
        padding-left: 80px;
        height: 60px;
      }

      div.checkbox{
        label{
          display: block;
        }
      }
    }

    input[type=submit]{
      background-color: $color-green;
      border: none;
      text-transform: uppercase;
      font-family: 'open-sans';
      padding: rhythm(.3,$font-middle-size) rhythm(1,$font-middle-size);;
      color: $color-white;
      @include border-radius;
      @include adjust-font-size-to($font-middle-size,1,$font-base-size);
      @include box-shadow(0 6px 0 shade($color-green,20%));
      cursor: pointer;
    }
    a.cancel{
      background-color: $color-red;
      border: none;
      @include inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'open-sans';
      padding: rhythm(.3,$font-middle-size) rhythm(1,$font-middle-size);;
      color: $color-white;
      @include border-radius;
      @include adjust-font-size-to($font-middle-size,1,$font-base-size);
      @include box-shadow(0 6px 0 shade($color-red,20%));
      cursor: pointer;
    }
  }