

//- - - - - - [ SIZES ] - - - - - - - - - - - - - - - - - - -
	$gutter:		30px;

	$menu-size: 350px;
	$select-size: 80px;

	$desktop:		max-width 1024px;
	$tablet:		max-width 768px;
	$phone:			max-width 480px;

//- - - - - - [ FONT ] - - - - - - - - - - - - - - - - - - -

	$font-size-huge:	36px;
	$font-size-header:	24px;
	$font-size-big:		18px;
	$font-size-base:	16px;
	$font-size-sub:		14px;
	$font-size-small:	12px;

	$font-weight-normal:	300;
	$font-weight-bold:		700;
	$font-weight-thin:		100;

	$font-family-bitter: 	'Bitter', serif;
	$font-family-open: 		'Open Sans', sans-serif;

	//vertical thythm
	$base-font-size: $font-size-base;
	$base-line-height: 24px;


//- - - - - - [ COLOR ] - - - - - - - - - - - - - - - - - - -
	$color-black:		rgb(40,40,40);
	$color-gray-dark:	rgb(85,85,85);
	$color-gray-light:	rgb(211,211,211);
	$color-green-sea:	rgb(74,133,161);
	$color-blue:		rgb(41, 36, 104);
	//$color-blue:		rgb(37, 66, 135);
	$color-blue-light:	rgb(246,247,251);
	$color-white:		rgb(255,255,255);

	$color-green:		rgb(76,161,74);
	$color-red:			rgb(255,72,0);
	$color-orange: 		rgb(227, 151, 35);
	$color-yellow: 		rgb(196, 199, 77);
	$color-facebook:	rgb(59,89,152); //http://www.color-hex.com/color-palette/185



//.btn-default
	$btn-default-color 	: $color-white;
	$btn-default-bg 	: shade($color-green-sea,10%);
	$btn-default-border : shade($color-green-sea,10%);

//.btn-primary
	$btn-primary-color 	: $color-white;
	$btn-primary-bg 	: shade($color-green-sea,10%);
	$btn-primary-border : shade($color-green-sea,10%);


//.btn-success
	$btn-success-color 	: $color-white;
	$btn-success-bg		: shade($color-green,10%);
	$btn-success-border	: shade($color-green,10%);

//.btn-info
	$btn-info-color 	: $color-white;
	$btn-info-bg		: shade($color-blue,10%);
	$btn-info-border	: shade($color-blue,10%);


//.btn-warning
	$btn-warning-color	: $color-white;
	$btn-warning-bg		: shade($color-orange,10%);
	$btn-warning-border	: shade($color-orange,10%);

//.btn-danger
	$btn-danger-color 	: $color-white;
	$btn-danger-bg		: shade($color-red,10%);
	$btn-danger-border	: shade($color-red,10%);

//.btn-danger
	$btn-facebook-color 	: $color-white;
	$btn-facebook-bg		: shade($color-facebook,10%);
	$btn-facebook-border	: shade($color-facebook,10%);

//form-group has-error
	$state-danger-text:		$color-red;