
	// - - - - - - [ COLORS ] - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	$color-gray-black:			rgb(40,40,40);
	$color-gray-dark:			rgb(85,85,85);

	$color-blue:				rgb(41,36,104);
	$color-sea:					rgb(74,133,161);
	$color-white:				rgb(255,255,255);
	$color-green:				rgb(76,161,74);
	$color-black:             	rgb(40,40,40);
	$color-sea:					rgb(74,133,161);
	$color-green:             rgb(76,161,74);
	$color-dark-green:		rgb(54,125,52);
	$color-red:               rgb(255,72,0);
	$color-gray:              rgb(220,220,220);
	$color-light-gray:		rgb(231,232,235);
	$color-blue-gray:			rgb(246,247,251);
	$color-text:              rgb(85,85,85);
	$color-yellow:			rgb(252,175,23);
	$color-fbblue:			rgb(62,90,158);


	// - - - - - - [ FONTS ] - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	$font-family-serif:			Georgia, Times, "Times New Roman", serif;
	$font-family-sans-serif:	'open-sans', sans-serif;

	$font-weight-normal:		300;
	$font-weight-bold:			700;
	$font-weight-black:			900;

	$font-line-height:			24px;

	$font-size-base:			16px;
	$font-size-small:			14px;
	$font-size-smaller:         12px;

	$font-headline-base:     	24px; //$font-headline-size
	$font-headline-small:		18px; //$font-headline-small-size
	$font-headline-large:		36px; //$font-large-size


	$animation-speed:			.4s;
	$animation-function:		ease-in-out;//cubic-bezier(0.1, 0.7, 1.0, 0.1);


	// - - - - - - [ SIZE ] - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	$container-max:		960px;

	$gutter:			30px;

	$menu-border-size:	80px;