
	dl.company-list{
		dt{
			font-family: $font-family-sans-serif;
		}
		dd{ padding-left: $gutter; }
	}

	dl.company-properties{
		@include pie-clearfix;
		dt{
			float: left;
			clear: both;
			font-family: $font-family-sans-serif;
			width: 30%;
		}
		dd{
			float: left;
			width: 70%;
		}
	}