

	/**
	 * Group's presentation.
	 * @see http://localhost:8080/hopur
	 */
	.type-group-list{
		max-width: 960px;
		margin: auto;

		article{
			@include pie-clearfix;
			margin: 0 0 rhythm(2,$font-size-base) 0;
			padding: 0 0 rhythm(1,$font-size-base) 0;
			border-bottom: 1px solid tint($color-sea,50%);
			header{
				h1{
					@include adjust-font-size-to($font-headline-large,1,$font-size-base);
					@include margin-trailer(1,$font-headline-large);
				}
			}
			section{
				padding-right: rhythm(1/2,$font-size-base);
				float: left;
				width: 50%;
			}
			aside{
				padding-left: rhythm(1/2,$font-size-base);
				float: right;
				width: 50%;

				ul{
					li{
						@include pie-clearfix;
						padding-bottom: rhythm(1,$font-size-base);
						img{ float: left }
						h3{}
						time{
							@include adjust-font-size-to($font-size-smaller,1,$font-size-base);
							font-family: $font-family-sans-serif;
							margin-left: 60px + ($gutter/2);
							display: block;
							color: $color-sea;
						}
						div{ margin-left: 60px + ($gutter/2); }
					}
				}
			}

			footer{
				clear: both;
			}
			&:last-child{
				border-bottom: none;
			}
		}

	}

	.group-header{
		padding: $gutter;
		@include pie-clearfix;
		h1{
			float: left;
			@include adjust-font-size-to($font-headline-large,1,$font-size-base);
		}
		h2{
			float: left;
			@include adjust-font-size-to($font-headline-base,1,$font-size-base);
		}
		a{
			@include inline-block;
			float: right;
		}
	}

	.group-wrapper{

		> section{
			@include pie-clearfix;
			margin-left: - $gutter/2;
			margin-right: - $gutter/2;
			> div{
				float: left;
				width: 50%;
				padding: 0 $gutter/2;
				> h1{
					@extend %category-label;
				}

			}
			@include breakpoint-to($screen-size-phone){
				> div{
					padding: 0;
					float: none;
					width: auto;
				}
			}
		}
		> aside{
			h1{
				@extend %category-label;
			}
		}
	}
	.content-wrapper.group-wrapper{
		> section{
			float: right;
			padding-right: 0;
			padding-left: $gutter/2;
		}
		> aside{
			float: left;
			padding-right: $gutter/2;
			padding-left: 0;
		}
		@include breakpoint-to($screen-size-phone){
			> section{ padding-left:0; margin: 0; }
			> aside{ padding-right:0; }
		}
	}