

	dl.user-properties-list{
		@include pie-clearfix;
		dt{ float: left; clear: both; width: 40%; }
		dd{ float: left; width: 60%; @include ellipsis; display: block;}
	}

	dl.users-list{
		dt{}
		dd{ padding-left: $gutter; }

	}