/**
 * Global base styles.
 *
 * This includes how the body should look
 * as well as a.href links etc...
 */

@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

$base-font-size: $font-base-size;
$base-line-height: $font-base-line-height;
@include establish-baseline;

*{
  @include box-sizing(border-box);
}
body{
  font-family: Georgia, Times, "Times New Roman", serif;
  color: $color-text;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h1,h1,h3,h4,h5,h6{
  font-family: 'open-sans', sans-serif;
}
