

  $font-base-size:          16px;
  $font-small-size:         12px;
  $font-middle-size:        14px;
  $font-headline-size:      24px;
  $font-headline-small-size:18px;
  $font-large-size:         36px;
  $font-base-line-height:   24px;

  $resolution-small:        480;
  $resolution-medium:       786;
  $resolution-large:        960;

  $padding:                 30px;

  $animation-speed:         0.3s;

  $color-blue:              rgb(36,42,104);
  $color-sea:               rgb(74,133,161);
  $color-green:             rgb(76,161,74);
  $color-dark-green:		rgb(54,125,52);
  $color-red:               rgb(255,72,0);
  $color-black:             rgb(40,40,40);
  $color-white:             rgb(255,255,255);
  $color-gray:              rgb(220,220,220);
  $color-light-gray:		rgb(231,232,235);
  $color-blue-gray:			rgb(246,247,251);
  $color-text:              rgb(85,85,85);
  $color-yellow:			rgb(252,175,23);
  $color-fbblue:			rgb(62,90,158);




  $default-border-radius: 3px;

