<script>
    var StjornvisiBehaviors = StjornvisiBehaviors || {};

    StjornvisiBehaviors.UploadBehavior = {

        /**
         * Uploads a file via XHR and calls callback functions
         * passed to it along the way.
         *
         * @param {File} file
         * @param {Function} progress
         * @param {Function} done
         * @param {Function} error
         * @param {String} url
         * @param {Number} max
         * @param {String} mime
         * @returns {boolean}
         */
        upload: function(file, progress, done, error, url, max, mime){

            if (file.size > max) {
                error.call(this, {}, {message: 'File to big'});
                return false;
            }

            if (!file.type.match(mime)) {
                error.call(this, {}, {message: 'Invalid file type'});
                return false;
            }

            //DATA OBJECT
            //	create file data object to carry
            //	the image to the server
            var formData = new FormData();
            formData.append('file', file);

            //TRANSMISSION OBJECT
            //	create xhr object to send data object
            //	to the server. The host element should contain a 'url'
            //	attribute to use as a service end-point, if not then
            //	root is used.
            var xhr = new XMLHttpRequest();
            xhr.open('post', url);

            //PROGRESS
            //	on file upload progress
            xhr.upload.addEventListener('progress',function(event){
                var status = (event.loaded / event.total * 100 );
                progress(event, status);
            }.bind(this),false);
            //ERROR
            //	on file upload error
            //@todo
            xhr.addEventListener('error',function(event){
                error.call(this, event, {message: 'XHR error'});
            },false);
            //ABORT
            //	on file upload abort
            //@todo
            xhr.addEventListener('abort',function(event){
                error.call(this, event, {message: 'XHR abort'});
            },false);
            //LOAD
            //	once the upload is over
            xhr.addEventListener('load',function(event){
                var object = JSON.parse( event.target.responseText );
                var media = object.info.media[0];
                if( parseInt( media.code/100 ) == 2 ){
                    done.call(this,event, media);
                }else{
                    error.call(this,event, media);
                }
            }.bind(this),false);

            //SEND
            //	send the image
            xhr.send(formData);
        }
    };
</script>
