@mixin linkColorDefault {
	@include transition(all .15s);
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
}

@mixin linkColorDark {
	@include transition(all .15s);
	color: $color-text-dark;
	&:hover {
		color: $link-hover-color;
	}
}

@mixin linkColorLight {
	@include transition(all .15s);
	color: $color-white;
	&:hover {
		color: $color-text-light;
	}
}
