/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
main {
  display: block;
}

/* line 3, ../sass/helpers/_extensions.scss */
aside.event-event-aside h1, div.event-event-meta h1, aside.event-news-aside h1, .index-news-list h1, .index-event-list h1, .index-resources-list h1 {
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #4a85a1;
  text-transform: uppercase;
  font-weight: bold;
}

/**
 * Define some font-family rules.
 *
 */
@font-face {
  font-family: 'open-sans';
  src: url(fonts/open-sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url(fonts/open-sans/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url(fonts/open-sans/OpenSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url(fonts/open-sans/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url(fonts/open-sans/OpenSans-Semibold.ttf);
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'bitter';
  src: url(fonts/bitter/Bitter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bitter';
  src: url(fonts/bitter/Bitter-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'bitter';
  src: url(fonts/bitter/Bitter-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
/**
 * Global base styles.
 *
 * This includes how the body should look
 * as well as a.href links etc...
 */
/* line 106, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 15, ../sass/helpers/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/helpers/_base.scss */
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #555555;
}

/* line 22, ../sass/helpers/_base.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/helpers/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 28, ../sass/helpers/_base.scss */
h1, h1, h3, h4, h5, h6 {
  font-family: 'open-sans', sans-serif;
}

/* line 14, ../sass/layout/_layout.scss */
html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 21, ../sass/layout/_layout.scss */
nav.layout-nav {
  background-color: #4a85a1;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 31, ../sass/layout/_layout.scss */
nav.layout-nav ul.navigation {
  *zoom: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 600%;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
nav.layout-nav ul.navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 35, ../sass/layout/_layout.scss */
nav.layout-nav ul.navigation > li {
  width: 16.66667%;
  float: left;
}
/* line 38, ../sass/layout/_layout.scss */
nav.layout-nav ul.navigation > li > a {
  padding: 1.71429em;
  font-family: 'open-sans';
  color: white;
  display: block;
}
/* line 44, ../sass/layout/_layout.scss */
nav.layout-nav ul.navigation > li ul {
  padding: 30px;
}
/* line 47, ../sass/layout/_layout.scss */
nav.layout-nav ul.navigation > li ul li a {
  font-family: 'open-sans';
  color: white;
}

/* line 59, ../sass/layout/_layout.scss */
main.layout-main {
  background-color: white;
  position: relative;
  z-index: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 80px;
}
@media only screen and (max-width: 480px) {
  /* line 59, ../sass/layout/_layout.scss */
  main.layout-main {
    padding-left: 0;
  }
}

/* line 72, ../sass/layout/_layout.scss */
body.nav-open {
  overflow: hidden;
}
/* line 74, ../sass/layout/_layout.scss */
body.nav-open main.layout-main {
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
@media only screen and (max-width: 480px) {
  /* line 74, ../sass/layout/_layout.scss */
  body.nav-open main.layout-main {
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
    -moz-box-shadow: 0 0 50px #376378;
    -webkit-box-shadow: 0 0 50px #376378;
    box-shadow: 0 0 50px #376378;
  }
}

/* line 84, ../sass/layout/_layout.scss */
aside.layout-aside {
  position: fixed;
  background-color: #282828;
  width: 80px;
  top: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 480px) {
  /* line 84, ../sass/layout/_layout.scss */
  aside.layout-aside {
    display: none;
  }
}
/* line 88, ../sass/layout/_layout.scss */
aside.layout-aside ul li a {
  width: 80px;
  height: 80px;
  font: 0/0 a;
  background-image: url('/stjornvisi/styles/img/sprite-side-menu.png');
  background-repeat: no-repeat;
  display: block;
  color: white;
}
/* line 108, ../sass/layout/_layout.scss */
aside.layout-aside ul li a:hover, aside.layout-aside ul li a.active {
  background-color: #4a85a1;
}
/* line 111, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.home {
  background-color: #4ca14a;
  background-position: 30px -131px;
}
/* line 115, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.groups {
  background-position: 30px -81px;
}
/* line 118, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.news {
  background-position: 30px -187px;
}
/* line 121, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.events {
  background-position: 30px -23px;
}
/* line 124, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.user {
  background-position: 30px -246px;
}
/* line 127, ../sass/layout/_layout.scss */
aside.layout-aside ul li a.config {
  background-position: 30px 35px;
}

/* line 135, ../sass/layout/_layout.scss */
header.page-header {
  background-color: #242a68;
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
header.page-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 138, ../sass/layout/_layout.scss */
header.page-header h1.page-brand {
  float: left;
}
/* line 140, ../sass/layout/_layout.scss */
header.page-header h1.page-brand a {
  display: block;
  width: 200px;
  height: 84px;
  background-image: url(img/stjornvisi-logo.svg);
  background-size: 200px auto;
  background-position: 0px -54px;
  font: 0/0 a;
}
/* line 150, ../sass/layout/_layout.scss */
header.page-header ul.page-main-menu {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 153, ../sass/layout/_layout.scss */
header.page-header ul.page-main-menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.page-header ul.page-main-menu li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.page-header ul.page-main-menu li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
header.page-header ul.page-main-menu li.last {
  padding-right: 0;
}
/* line 155, ../sass/layout/_layout.scss */
header.page-header ul.page-main-menu li a {
  display: block;
  color: white;
  text-transform: uppercase;
  font-family: 'open-sans';
  font-weight: bold;
  padding: 2.05714em;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 167, ../sass/layout/_layout.scss */
header.page-header form.page-search-form {
  float: right;
}
/* line 169, ../sass/layout/_layout.scss */
header.page-header form.page-search-form input[type=search] {
  border: none;
  width: 80px;
  background-color: #242a68;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.875em;
  line-height: 1.71429em;
  padding: 2.05714em;
  background-image: url('/stjornvisi/styles/img/sprite-misk.png');
  background-position: 30px 30px;
  background-repeat: no-repeat;
}
/* line 180, ../sass/layout/_layout.scss */
header.page-header form.page-search-form input[type=search]:focus {
  width: 300px;
  background-color: #1c2153;
  outline: none;
}
/* line 185, ../sass/layout/_layout.scss */
header.page-header form.page-search-form input[type=submit] {
  display: none;
}

/* line 194, ../sass/layout/_layout.scss */
footer.layout-footer {
  background-color: #282828;
}

/* line 201, ../sass/layout/_layout.scss */
.section-aside-grid {
  height: auto;
  overflow: hidden;
  padding: 30px;
}
@media only screen and (max-width: 480px) {
  /* line 201, ../sass/layout/_layout.scss */
  .section-aside-grid {
    padding: 15px;
  }
}
/* line 208, ../sass/layout/_layout.scss */
.section-aside-grid > section {
  float: left;
  width: 100%;
  margin-right: -300px;
  padding-right: 330px;
}
@media only screen and (max-width: 480px) {
  /* line 208, ../sass/layout/_layout.scss */
  .section-aside-grid > section {
    display: block;
    float: none;
    width: auto;
    margin-right: 0px;
    padding-right: 0px;
  }
}
/* line 221, ../sass/layout/_layout.scss */
.section-aside-grid > aside {
  float: left;
  position: relative;
  width: 300px;
  /* The size of the fixed block. */
}
@media only screen and (max-width: 480px) {
  /* line 221, ../sass/layout/_layout.scss */
  .section-aside-grid > aside {
    width: auto;
    float: none;
  }
}

/* OLD TABLE / TABLE-CELL implementation
  .section-aside-grid{
	padding: $padding;
	display: table;
	table-layout: fixed;
	width: 100%;
	@include breakpoint-to($resolution-small){
	  display: block;
	}
	&>section{
	  display: table-cell;
		padding-right: $padding/2;
	  width: 100%;
	  vertical-align: top;
	  position: relative;
	  @include breakpoint-to($resolution-small){
		display: block;
	  }
	}
	&>aside{
	  padding-left: $padding/2;
	  display: table-cell;
	  width: 300px;
	  vertical-align: top;
	  position: relative;
	  @include breakpoint-to($resolution-small){
		display: block;
		width: 100%;
		padding-left: 0;
	  }
	}
  }
*/
/* line 8, ../sass/helpers/_form.scss */
form.form-horizontal input {
  vertical-align: middle;
}
/* line 12, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group label {
  font-family: 'open-sans';
  font-size: 0.75em;
  line-height: 2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 17, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group input, form.form-horizontal div.form-group textarea {
  outline: none;
}
/* line 21, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group input[required] {
  position: relative;
}
/* line 24, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group input[required]:after {
  content: "*";
  display: block;
  color: #ff4800;
}
/* line 29, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group input.form-control, form.form-horizontal div.form-group textarea.form-control {
  font-family: 'open-sans';
  display: block;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 0.75em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 4px 5px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 5px -3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 4px 5px -3px rgba(0, 0, 0, 0.1);
}
/* line 38, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group input.avatar, form.form-horizontal div.form-group input.media {
  background-repeat: no-repeat;
  padding-left: 80px;
  height: 60px;
}
/* line 45, ../sass/helpers/_form.scss */
form.form-horizontal div.form-group div.checkbox label {
  display: block;
}
/* line 51, ../sass/helpers/_form.scss */
form.form-horizontal input[type=submit] {
  background-color: #4ca14a;
  border: none;
  text-transform: uppercase;
  font-family: 'open-sans';
  padding: 0.51429em 1.71429em;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.875em;
  line-height: 1.71429em;
  -moz-box-shadow: 0 6px 0 #3c803b;
  -webkit-box-shadow: 0 6px 0 #3c803b;
  box-shadow: 0 6px 0 #3c803b;
  cursor: pointer;
}
/* line 63, ../sass/helpers/_form.scss */
form.form-horizontal a.cancel {
  background-color: #ff4800;
  border: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'open-sans';
  padding: 0.51429em 1.71429em;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.875em;
  line-height: 1.71429em;
  -moz-box-shadow: 0 6px 0 #cc3900;
  -webkit-box-shadow: 0 6px 0 #cc3900;
  box-shadow: 0 6px 0 #cc3900;
  cursor: pointer;
}

/* line 28, ../sass/components/_widgets.scss */
article.event header time, article.news header time {
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 2em;
  font-family: 'open-sans';
}
/* line 33, ../sass/components/_widgets.scss */
article.event header h1, article.news header h1 {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: bold;
  padding: 0.5em 0;
}
@media only screen and (max-width: 480px) {
  /* line 33, ../sass/components/_widgets.scss */
  article.event header h1, article.news header h1 {
    font-size: 1.125em;
    line-height: 1.33333em;
  }
}
/* line 40, ../sass/components/_widgets.scss */
article.event header h1 a, article.news header h1 a {
  color: #282828;
}
/* line 45, ../sass/components/_widgets.scss */
article.event section, article.news section {
  *zoom: 1;
  word-wrap: break-word;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
article.event section:after, article.news section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 48, ../sass/components/_widgets.scss */
article.event section img, article.news section img {
  float: left;
  margin: 0 1.5em 1.5em 0;
}
/* line 52, ../sass/components/_widgets.scss */
article.event section a, article.news section a {
  color: #4a85a1;
}
/* line 55, ../sass/components/_widgets.scss */
article.event section a:hover, article.news section a:hover {
  text-decoration: underline;
}
/* line 58, ../sass/components/_widgets.scss */
article.event section p, article.news section p {
  margin: 0 0 0.75em 0;
}
/* line 61, ../sass/components/_widgets.scss */
article.event section p:last-of-type, article.news section p:last-of-type {
  margin: 0;
}

/* line 69, ../sass/components/_widgets.scss */
li.event time, li.news time {
  font-family: 'open-sans';
  font-size: 0.75em;
  line-height: 4em;
}
/* line 73, ../sass/components/_widgets.scss */
li.event img, li.news img {
  width: 100%;
  max-width: 100%;
}
/* line 77, ../sass/components/_widgets.scss */
li.event h2, li.news h2 {
  font-weight: bold;
  font-family: 'open-sans';
  margin: 0.375em 0 0.75em 0;
}
/* line 81, ../sass/components/_widgets.scss */
li.event h2 a, li.news h2 a {
  color: #282828;
}

/* line 92, ../sass/components/_widgets.scss */
article.event ul.event-groups-list, li.event ul.event-groups-list, article.news ul.news-groups-list, li.news ul.event-groups-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0.75em 0;
}
/* line 95, ../sass/components/_widgets.scss */
article.event ul.event-groups-list li, li.event ul.event-groups-list li, article.news ul.news-groups-list li, li.news ul.event-groups-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li:first-child, li.event ul.event-groups-list li:first-child, article.news ul.news-groups-list li:first-child, li.news ul.event-groups-list li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li:last-child, li.event ul.event-groups-list li:last-child, article.news ul.news-groups-list li:last-child, li.news ul.event-groups-list li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
article.event ul.event-groups-list li.last, li.event ul.event-groups-list li.last, article.news ul.news-groups-list li.last, li.news ul.event-groups-list li.last {
  padding-right: 0;
}
/* line 97, ../sass/components/_widgets.scss */
article.event ul.event-groups-list li a, li.event ul.event-groups-list li a, article.news ul.news-groups-list li a, li.news ul.event-groups-list li a, article.event ul.event-groups-list li span, li.event ul.event-groups-list li span, article.news ul.news-groups-list li span, li.news ul.event-groups-list li span {
  font-family: 'open-sans';
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #4a85a1;
}
/* line 102, ../sass/components/_widgets.scss */
article.event ul.event-groups-list li a:after, li.event ul.event-groups-list li a:after, article.news ul.news-groups-list li a:after, li.news ul.event-groups-list li a:after, article.event ul.event-groups-list li span:after, li.event ul.event-groups-list li span:after, article.news ul.news-groups-list li span:after, li.news ul.event-groups-list li span:after {
  content: ' \2022';
}
/* line 107, ../sass/components/_widgets.scss */
article.event ul.event-groups-list li:last-child a:after, li.event ul.event-groups-list li:last-child a:after, article.news ul.news-groups-list li:last-child a:after, li.news ul.event-groups-list li:last-child a:after, article.event ul.event-groups-list li:last-child span:after, li.event ul.event-groups-list li:last-child span:after, article.news ul.news-groups-list li:last-child span:after, li.news ul.event-groups-list li:last-child span:after {
  content: none;
}

/* line 115, ../sass/components/_widgets.scss */
ul.event-gallery-list {
  *zoom: 1;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
ul.event-gallery-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 120, ../sass/components/_widgets.scss */
ul.event-gallery-list li {
  float: left;
  width: 25%;
  padding: 7.5px;
}
@media only screen and (max-width: 1024px) {
  /* line 120, ../sass/components/_widgets.scss */
  ul.event-gallery-list li {
    width: 33.33%;
  }
}
@media only screen and (max-width: 960px) {
  /* line 120, ../sass/components/_widgets.scss */
  ul.event-gallery-list li {
    width: 50%;
  }
}
@media only screen and (max-width: 650px) {
  /* line 120, ../sass/components/_widgets.scss */
  ul.event-gallery-list li {
    width: 100%;
  }
}
/* line 134, ../sass/components/_widgets.scss */
ul.event-gallery-list li img {
  display: block;
  border: 1px solid gainsboro;
  padding: 5px;
  width: 100%;
}

/* line 145, ../sass/components/_widgets.scss */
ul.event-resources-list li {
  padding: 0.42857em 0;
}
/* line 148, ../sass/components/_widgets.scss */
ul.event-resources-list li a {
  font-family: open-sans;
  text-transform: lowercase;
  color: #4a85a1;
  font-size: 0.875em;
  line-height: 1.71429em;
  background-image: url('/stjornvisi/styles/img/sprite-mime.png');
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 2.25em;
}
/* line 158, ../sass/components/_widgets.scss */
ul.event-resources-list li a[href$=pdf], ul.event-resources-list li a[href$=PDF] {
  background-position: 0 -166px;
}
/* line 161, ../sass/components/_widgets.scss */
ul.event-resources-list li a[href$=xsl], ul.event-resources-list li a[href$=XSL], ul.event-resources-list li a[href$=xslx], ul.event-resources-list li a[href$=XSLX] {
  background-position: 0 -222px;
}
/* line 164, ../sass/components/_widgets.scss */
ul.event-resources-list li a[href$=jpg], ul.event-resources-list li a[href$=jpeg], ul.event-resources-list li a[href$=JPG], ul.event-resources-list li a[href$=JPEG],
ul.event-resources-list li a[href$=png], ul.event-resources-list li a[href$=gif], ul.event-resources-list li a[href$=PNG], ul.event-resources-list li a[href$=GIF] {
  background-position: 0 -110px;
}

/* line 173, ../sass/components/_widgets.scss */
.row {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 786px) {
  /* line 173, ../sass/components/_widgets.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 181, ../sass/components/_widgets.scss */
.row .column {
  float: left;
  padding: 0 15px;
}

/* line 187, ../sass/components/_widgets.scss */
.row.half .column {
  width: 50%;
}
@media only screen and (max-width: 786px) {
  /* line 187, ../sass/components/_widgets.scss */
  .row.half .column {
    width: 100%;
    padding: 0;
  }
}

/* line 196, ../sass/components/_widgets.scss */
.row.third .column {
  width: 33.3333%;
}

/* line 201, ../sass/components/_widgets.scss */
.row.quarter .column {
  width: 25%;
}

/* line 207, ../sass/components/_widgets.scss */
.row.grid .column.main {
  width: 39%;
}
/* line 210, ../sass/components/_widgets.scss */
.row.grid .column.aside {
  width: 22%;
}

/* line 217, ../sass/components/_widgets.scss */
ul.item-list > li {
  padding: 1.5em 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* line 223, ../sass/components/_widgets.scss */
ul.item-list li:last-child {
  border-bottom-style: none;
}

/* line 227, ../sass/components/_widgets.scss */
ul.item-list.theme-white > li {
  border-bottom-color: gainsboro;
}

/* line 233, ../sass/components/_widgets.scss */
ul.item-list.theme-black > li {
  border-bottom: 1px solid #535353;
}

/* line 241, ../sass/components/_widgets.scss */
a.attending, span.attending {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #ff4800;
  width: 42px;
  height: 42px;
  font: 0/0 a;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

/* line 250, ../sass/components/_widgets.scss */
a.attending:hover {
  width: 84px;
}

/* line 253, ../sass/components/_widgets.scss */
span.attending.yes {
  background-color: gainsboro;
}

/* line 256, ../sass/components/_widgets.scss */
span.attending.no {
  background-color: gainsboro;
}

/* line 259, ../sass/components/_widgets.scss */
a.attending.yes {
  background-color: #4ca14a;
}

/* line 263, ../sass/components/_widgets.scss */
a.attending.no {
  background-color: #ff4800;
}

/* line 268, ../sass/components/_widgets.scss */
#map_canvas {
  height: 100%;
}

/* line 275, ../sass/components/_widgets.scss */
[role=tabpanel] {
  width: 100%;
  overflow: hidden;
  position: relative;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 280, ../sass/components/_widgets.scss */
[role=tabpanel] [role=tablist] {
  opacity: 1;
  *zoom: 1;
  width: 200%;
  margin-left: 0;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
[role=tabpanel] [role=tablist]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 286, ../sass/components/_widgets.scss */
[role=tabpanel] [role=tablist] [role=tab] {
  float: left;
  width: 50%;
  opacity: 1;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 292, ../sass/components/_widgets.scss */
[role=tabpanel] [role=tablist] [role=tab].off-canvas {
  opacity: 0;
}
/* line 296, ../sass/components/_widgets.scss */
[role=tabpanel] [role=tablist].edit-mode {
  margin-left: -100%;
}

/* line 301, ../sass/components/_widgets.scss */
[role=tabpanel].preload [role=tablist] {
  opacity: .5;
}

/* line 305, ../sass/components/_widgets.scss */
[role=tabpanel].preload:after {
  position: absolute;
  content: 'Loading...';
  display: block;
  padding: 30px;
  font-weight: bold;
  font-family: 'open-sans';
  text-transform: uppercase;
  background-color: #ff4800;
  color: white;
  top: 25%;
  left: 25%;
}

/* line 321, ../sass/components/_widgets.scss */
table.calendar {
  border: 1px solid gainsboro;
  width: 100%;
  border-collapse: collapse;
  font-family: 'open-sans';
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 327, ../sass/components/_widgets.scss */
table.calendar caption {
  *zoom: 1;
  padding: 30px 0;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
table.calendar caption:after {
  content: "";
  display: table;
  clear: both;
}
/* line 330, ../sass/components/_widgets.scss */
table.calendar caption h1 {
  float: left;
  font-size: 2.57143em;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 336, ../sass/components/_widgets.scss */
table.calendar caption h2 {
  float: left;
  font-size: 1.5em;
  line-height: 1.71429em;
  margin: 0 2.28571em;
}
/* line 341, ../sass/components/_widgets.scss */
table.calendar caption nav {
  border: 1px solid gainsboro;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
table.calendar caption nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 346, ../sass/components/_widgets.scss */
table.calendar caption nav a {
  float: left;
  background-image: url('/stjornvisi/styles/img/sprite-arrows.png');
  background-repeat: no-repeat;
  height: 34px;
  width: 56px;
  padding: 0.42857em 0.85714em;
  font: 0/0 a;
}
/* line 357, ../sass/components/_widgets.scss */
table.calendar caption nav a.prev {
  background-position: 10px -39px;
}
/* line 358, ../sass/components/_widgets.scss */
table.calendar caption nav a.prev:hover {
  background-position: 10px -88px;
}
/* line 359, ../sass/components/_widgets.scss */
table.calendar caption nav a.next {
  background-position: 10px -137px;
}
/* line 360, ../sass/components/_widgets.scss */
table.calendar caption nav a.next:hover {
  background-position: 10px 10px;
}
/* line 361, ../sass/components/_widgets.scss */
table.calendar caption nav a:hover {
  background-color: gainsboro;
}
/* line 364, ../sass/components/_widgets.scss */
table.calendar caption nav a:first-child {
  border-right: 1px solid gainsboro;
}
/* line 369, ../sass/components/_widgets.scss */
table.calendar td {
  padding: 15px;
  vertical-align: top;
  width: 14.285%;
  border: 1px solid gainsboro;
}
/* line 375, ../sass/components/_widgets.scss */
table.calendar a {
  color: #4a85a1;
  font-weight: bold;
}
/* line 379, ../sass/components/_widgets.scss */
table.calendar a:hover {
  color: #ff4800;
}
/* line 382, ../sass/components/_widgets.scss */
table.calendar ul {
  margin: -0.85714em 0;
}
/* line 384, ../sass/components/_widgets.scss */
table.calendar ul li {
  border-bottom: 1px solid gainsboro;
  padding: 0.85714em 0;
}
/* line 388, ../sass/components/_widgets.scss */
table.calendar ul li:last-child {
  border-bottom: none;
}
/* line 393, ../sass/components/_widgets.scss */
table.calendar thead td {
  background-color: gainsboro;
  color: #282828;
  font-weight: bold;
  text-align: center;
}
/* line 401, ../sass/components/_widgets.scss */
table.calendar tbody td {
  min-height: 140px;
  overflow: hidden;
  position: relative;
}
/* line 405, ../sass/components/_widgets.scss */
table.calendar tbody td span {
  display: block;
  float: right;
  position: absolute;
  z-index: -1;
  top: 10px;
  right: -15px;
  color: #f1f1f1;
  font-size: 6em;
  line-height: 0.28571em;
  font-weight: bold;
}

/* line 423, ../sass/components/_widgets.scss */
ul.pagination {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  font-family: 'open-sans';
}
/* line 429, ../sass/components/_widgets.scss */
ul.pagination li.active a, ul.pagination li:hover a {
  background-color: gainsboro;
  color: #282828;
}
/* line 434, ../sass/components/_widgets.scss */
ul.pagination li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.pagination li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.pagination li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.pagination li.last {
  padding-right: 0;
}
/* line 436, ../sass/components/_widgets.scss */
ul.pagination li a {
  display: block;
  padding: 0.85714em 1.71429em;
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #4a85a1;
}

/* line 448, ../sass/components/_widgets.scss */
.btn-group {
  background-color: #4a85a1;
  padding: 15px;
}
/* line 453, ../sass/components/_widgets.scss */
.btn-group ul.dropdown-menu li {
  padding: 0.375em 0;
}
/* line 455, ../sass/components/_widgets.scss */
.btn-group ul.dropdown-menu li a {
  font-family: open-sans;
  color: white;
}
/* line 460, ../sass/components/_widgets.scss */
.btn-group ul.dropdown-menu li.divider {
  border-bottom: 1px solid #5c91aa;
  border-top: 1px solid #427790;
  padding: 0;
}

/* line 12, ../sass/components/_events.scss */
article.event.archived {
  opacity: .5;
}

/* line 25, ../sass/components/_events.scss */
ul.event-gallery-list {
  margin: -7.5px;
}

/* line 46, ../sass/components/_events.scss */
.event-event-meta-gallery {
  margin-bottom: 1.5em;
}
/* line 48, ../sass/components/_events.scss */
.event-event-meta-gallery h1 {
  margin-bottom: 0.85714em;
}

/* line 52, ../sass/components/_events.scss */
.event-event-meta-map {
  margin-bottom: 1.5em;
}
/* line 54, ../sass/components/_events.scss */
.event-event-meta-map h1 {
  margin-bottom: 0.85714em;
}

/* line 58, ../sass/components/_events.scss */
.event-event-meta-resources {
  margin-bottom: 1.5em;
}
/* line 60, ../sass/components/_events.scss */
.event-event-meta-resources h1 {
  margin-bottom: 0.85714em;
}

/* line 10, ../sass/components/_news.scss */
article.news.news-columns section {
  -moz-columns: 30px 3;
  -webkit-columns: 30px 3;
  columns: 30px 3;
}

/*  Below is a brute-force attempt for the index page, since we are in a time crisis */
/* line 16, ../sass/components/_index.scss */
.layout-footer {
  overflow: hidden;
  *zoom: 1;
  padding: 40px 70px;
}
/* line 20, ../sass/components/_index.scss */
.layout-footer a {
  color: #fcaf17;
}
/* line 24, ../sass/components/_index.scss */
.layout-footer a:hover {
  color: #ff4800;
}
/* line 28, ../sass/components/_index.scss */
.layout-footer .address {
  width: 33%;
  color: white;
  float: left;
}
/* line 33, ../sass/components/_index.scss */
.layout-footer .address h1 {
  font-weight: bolder;
  text-transform: uppercase;
}
/* line 39, ../sass/components/_index.scss */
.layout-footer .links {
  width: 33%;
  float: left;
  font-family: 'open-sans';
  font-weight: normal;
}

/* line 47, ../sass/components/_index.scss */
.hero {
  background: url("../frontpage/header-image.jpg") no-repeat;
  height: 640px;
  background-size: 120% auto;
}
/* line 52, ../sass/components/_index.scss */
.hero h1 {
  color: white;
  font-family: 'open-sans';
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 80px;
}
/* line 64, ../sass/components/_index.scss */
.hero h2 {
  color: white;
  font-family: 'bitter';
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 48px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 75, ../sass/components/_index.scss */
.hero .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
/* line 83, ../sass/components/_index.scss */
.hero .text {
  margin: 0 auto;
  max-width: 800px;
}

/* line 89, ../sass/components/_index.scss */
main.frontpage {
  padding-left: 0;
  background-color: #f6f7fb;
}

/* line 94, ../sass/components/_index.scss */
.btn {
  border: 1px solid;
  text-transform: none;
  font-family: 'open-sans';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px 20px;
  margin: 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 106, ../sass/components/_index.scss */
.btn-green {
  background-color: #4ca14a;
  color: white;
  border-color: #4ca14a;
  border-bottom-color: #367d34;
}

/* line 113, ../sass/components/_index.scss */
.btn-facebook {
  background: url("img/facebook-f.png") 20px bottom no-repeat #3e5a9e;
  padding-left: 60px;
  color: white;
  border-color: #3e5a9e;
}

/* line 120, ../sass/components/_index.scss */
.btn-across {
  display: block;
  text-align: center;
}

/* line 125, ../sass/components/_index.scss */
.btn-white {
  background-color: white;
  color: #282828;
  border-color: gainsboro;
}

/* line 132, ../sass/components/_index.scss */
.login-buttons {
  margin-bottom: 25px;
  text-align: center;
  margin: 0px auto;
  height: 95px;
  padding-top: 35px;
  box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.25);
  background-color: white;
}

/* line 142, ../sass/components/_index.scss */
.callout {
  max-width: 980px;
  margin: 0 auto;
}
/* line 146, ../sass/components/_index.scss */
.callout h1 {
  font-family: 'bitter';
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 36px;
  color: #282828;
}
/* line 155, ../sass/components/_index.scss */
.callout p {
  font-family: Georgia;
  margin-bottom: 60px;
}
/* line 160, ../sass/components/_index.scss */
.callout .text {
  padding: 110px;
  text-align: center;
}
/* line 165, ../sass/components/_index.scss */
.callout .btn {
  width: 360px;
  display: inline-block;
}

/* line 171, ../sass/components/_index.scss */
.callout-two {
  background-color: white;
  border: 1px solid gainsboro;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 177, ../sass/components/_index.scss */
.callout-two .img {
  background: url("../frontpage/faghopar.jpg") no-repeat;
  height: 700px;
  background-size: cover;
}
/* line 181, ../sass/components/_index.scss */
.callout-two .img:after {
  content: "";
  background: -webkit-linear-gradient(0deg, white 4%, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, white 4%, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, white 4%, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #ffffff 4%, rgba(0, 0, 0, 0));
  /* Standard syntax */
  height: 100%;
  width: 100%;
  bottom: 0;
  display: inherit;
}
/* line 190, ../sass/components/_index.scss */
.callout-two .text {
  padding-top: 25px;
}

/* line 196, ../sass/components/_index.scss */
.news-events {
  background-color: white;
  border: 1px solid #e7e8eb;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 980px;
  overflow: hidden;
  *zoom: 1;
  padding: 60px;
}
/* line 205, ../sass/components/_index.scss */
.news-events .col-md-6 {
  width: 50%;
  float: left;
}
/* line 210, ../sass/components/_index.scss */
.news-events h1 {
  font-family: 'open-sans';
  font-size: 14px;
  color: #4a85a1;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 221, ../sass/components/_index.scss */
.single-article {
  width: 100%;
}
/* line 222, ../sass/components/_index.scss */
.single-article .img-text-wrapper {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 60px;
}
/* line 226, ../sass/components/_index.scss */
.single-article .img-text-wrapper figure {
  width: 130px;
  height: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 236, ../sass/components/_index.scss */
.single-article h2 {
  font-family: 'bitter';
  font-size: 24px;
}
/* line 240, ../sass/components/_index.scss */
.single-article h2 a {
  color: #282828;
}
/* line 245, ../sass/components/_index.scss */
.single-article figure {
  float: left;
}
/* line 250, ../sass/components/_index.scss */
.single-article .text {
  float: left;
}

/* line 255, ../sass/components/_index.scss */
.col-md-6.first {
  padding-right: 30px;
}

/* line 259, ../sass/components/_index.scss */
.col-md-6.last7 {
  padding-left: 30px;
}

/* line 263, ../sass/components/_index.scss */
.image-boxes {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 267, ../sass/components/_index.scss */
.image-boxes .box-large {
  width: 25%;
  float: left;
  height: 250px;
}
/* line 268, ../sass/components/_index.scss */
.image-boxes .box-two {
  width: 12.5%;
  float: left;
  height: 250px;
}
/* line 269, ../sass/components/_index.scss */
.image-boxes .img_big, .image-boxes .img_medium {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 273, ../sass/components/_index.scss */
.image-boxes .img_medium {
  width: 100%;
  height: 50%;
}
/* line 274, ../sass/components/_index.scss */
.image-boxes .img_big {
  width: 100%;
  height: 100%;
}

/* line 278, ../sass/components/_index.scss */
.not-logged-in nav {
  display: none;
}

/* line 283, ../sass/components/_index.scss */
.layout-content,
#editable-static-page-container {
  max-width: 980px;
  margin: 0 auto;
}

/* line 290, ../sass/components/_index.scss */
.frontpage header {
  display: none;
}
body{
  background: red;
  color:yellow;
}
