.box--events {
	.entry {
		@include clearfix;
		border: 1px solid $color-border;
	}

	.entry__title {
		@include make-xs-column(12);
		border-bottom: 1px solid $color-border;
		margin-bottom: 0;

		a {
			@include linkColorDark;
		}

		@media (max-width: $screen-xs-max) {
			padding:0;

			h3 {
				font-size: 20px;
				padding: 15px;
			}
		}

		@media (min-width: $screen-xs-min) {
			padding: 20px 30px 0;
			overflow: hidden;

			h3 {
				font-size: 24px;
			}
		}
	}

	.entry__date {
		@media (max-width: $screen-xs-max) {
			border-bottom: 1px solid $color-border;
			padding: 15px 15px 10px;
		}

		@media (min-width: $screen-xs-min) {
			float: left;
			width: 80px;
			padding: 20px 30px 200px 0;
			margin: -20px 30px -175px 0;
			text-align: center;
			border-right: 1px solid $color-border;
			line-height: $line-height-small;

			span {
				display: block;
			}
		}

		.day {
			font-size: 40px;
			font-weight: 600;
			color: $color-light-blue;
		}
		.month {
			font-size: 18px;
			font-weight: 600;
			color: $color-light-blue;
			text-transform: uppercase;
		}
		.year {
			font-size: 18px;
			font-weight: 600;
			color: $color-gray;
		}
	}

	.entry__content,
	.entry__image {
		@include make-xs-column(12);
	}

	.entry__info {
		color: $color-light-blue;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media (max-width: $screen-xs-max) {
			padding: 0 15px;
			font-size: 14px;
		}

		@media (min-width: $screen-xs) and (max-width: $screen-xs-max ) {
			margin-left: 90px;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
		}

		.fa {
			color: $color-gray;
			margin-right: 5px;
		}

		.separator {
			@media (max-width: $screen-xs-max) {
				@include text-hide;
				display: block;
			}

			@media (min-width: $screen-sm-min) {
				margin: 0 10px;
			}
		}
	}

	.entry__content {
		line-height: $line-height-small;
		padding: 20px;

		.btn {
			margin: 15px 10px 0 0;
		}
	}
}

.map_canvas {
	height: 300px;
	margin: $grid-gutter-width/2 0;
}
