.panel--groups {
	.box {
		@include make-md-column(6);
		@media (min-width: $screen-md-min) {
			&:first-child {
				padding-right: $grid-gutter-width;
			}

			&:last-child {
				padding-left: $grid-gutter-width;
			}
		}
	}

	.fa-calendar-o {
		color: $color-green;
	}

	.fa-check {
		color: $color-orange;
	}

	.legend {
		font-size: 20px;
		margin-bottom: $line-height-computed * 2;

		li {
			margin-bottom: 5px;
		}
		.fa {
			font-size: 22px;
			margin-right: 10px;
		}
	}

	.entry {
		margin-bottom: 0;
	}

	.entry__title {
		margin-bottom: 10px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;

		.entry__status {
			@media (min-width: $screen-md-min) {
				padding-left: 15px;
			}
		}

		h3 {
			font-size: 32px;
			color: $color-blue;
		}

		h4 {
			font-size: 24px;
			color: $color-text;
			margin: 0;
			padding: 4px 0;

			@media (min-width: $screen-md-min) {
				padding: 4px 15px;
			}

			.fa-stack {
				color: $color-green;
				height: 1em;
				line-height: 1;
			}
			.fa-stack-1x {
				font-size: 12px;
				font-weight: 600;
				margin-top: 8px;
			}
			.fa-stack-2x {
				font-size: 22px;
			}
		}
	}

	.open {
		.entry__title {
			border: 1px solid $color-blue;
			background-color: $color-offwhite;

			@media (min-width: $screen-md-min) {
				border-left:0;
			}
		}
	}

	.entry__content {
		background: $color-white;
	}

	.event {
		border: 1px solid $color-blue;
	}

	.event__summary {
		padding: 10px 30px;
		margin-bottom: $line-height-computed;
	}

	.event__label,
	.event__info,
	.event__title,
	.event__details,
	.event__content {
		padding: 0 30px;
	}
}
