.panel--groups {
	.box {
		@include make-md-column(6);
		@media (min-width: $screen-md-min) {
			&:first-child {
				padding-right: $grid-gutter-width;
			}

			&:last-child {
				padding-left: $grid-gutter-width;
			}
		}
	}

	.fa-calendar-o {
		color: $color-green;
	}

	.fa-check {
		color: $color-orange;
	}

	.legend {
		font-size: 20px;
		margin-bottom: $line-height-computed * 2;

		li {
			margin-bottom: 5px;
		}
		.fa {
			font-size: 22px;
			margin-right: 10px;
		}
	}

	.entry {
		margin-bottom: 0;
	}

	.entry__title {
		@include transition(background-color .2s);
		margin-bottom: 10px;

		.entry__status {
			@media (min-width: $screen-md-min) {
				padding-left: 15px;
			}
		}

		h3 {
			font-size: 32px;
			color: $color-blue;
		}

		h4 {
			font-size: 24px;
			color: $color-text;
			margin: 0;
			padding: 4px 0;

			> a {
				color: $color-text;
				&:hover {
					color: $link-color;
				}
			}

			@media (min-width: $screen-md-min) {
				padding: 4px 15px;
			}

			@include calendarCountStack;
			.fa-stack {
				margin-left: 5px;
			}
		}

		.btn {
			float:right;
			margin-top:-3px;
			padding: 4px 14px;
			color: $color-white;
			&:hover {
				color: $color-offwhite;
			}
		}
	}

	.open {
		.entry__title {
			background-color: $color-offwhite;

			h4 {
				font-weight: 600;
				color: $color-blue;
			}
		}
	}

	.entry__content {
		background: $color-white;
	}

	.event {
		border: 2px solid $color-light-blue;
		border-top: 0;
	}

	.event__summary {
		padding: 10px 30px;
		margin-bottom: $line-height-computed;
	}

	.event__details {
		@include calendarCountStack;
		.fa-stack {
			margin-right: 5px;
		}
		a {
			font-size: 18px;
			color: #acacac;
			&:hover {
				color: $link-color;
			}
		}
	}

	.event__label,
	.event__info,
	.event__title,
	.event__details,
	.event__content,
	.event__footer {
		padding: 0 30px;
	}

	.event__content {
		font-size: 16px;

		a {
			color: $color-text-light;
			&:hover {
				color: $link-color;
			}
		}
	}

	.event__footer {
		padding-bottom: 10px;
	}
}
