.panel--hero {
	height: 680px;
	padding: 0;
	background-image: url("images/hero-ahorfendur.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;

	@media (max-width: $screen-xs-max) {
		margin-top:60px;
		height: auto;
		background-image: url("images/hero-ahorfendur-767.jpg");
	}

	@media (max-width: $screen-md-max) {
		background-image: url("images/hero-ahorfendur-992.jpg");
	}

	@media (max-width: $screen-lg) {
		background-image: url("images/hero-ahorfendur-1440.jpg");
	}

	@media (min-width: 1920px) {
		background-size: cover;
	}

	.logo {
		h1 {
			display: none;
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: 35px;
			left: 15px;

			img {
				width: 206px;
				height: auto;
			}
		}

		// Mobile
		@media (max-width: $screen-xs-max) {
			position: fixed;
			top: 5px;
			left: 15px;
			z-index: 23;

			img {
				width: auto;
				height: 46px;
			}
		}
	}

	.login {
		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: -160px;
			right: 15px;
		}

		text-transform: uppercase;
		font-size: 16px;
	}

	.box {
		@include make-md-column(6);
		@include make-md-column-push(6);
		color: $color-white;

		@media (max-width: $screen-xs-max) {
			margin-top:20px;
			text-align: center;
		}

		@media (min-width: $screen-sm-min) {
			margin-top: 182px;
		}

		@media (min-width: $screen-md-min) {
			width: 47%; // Requested
		}
	}

	.box__title {
		margin-bottom: 33px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: $line-height-computed;

			h2 {
				font-size: 32px;
				color: $color-white;
			}
		}

		@media (min-width: $screen-sm-min) {
			h2 {
				font-size: 40px;
				color: $color-white;
			}
		}
	}

	.box__content {
		@media (max-width: $screen-xs-max) {
			padding-bottom: $line-height-computed;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 22px;

			.btn {
				margin: 15px 10px 0 0;
			}
		}

		a {
			color: $color-white;
			text-decoration: underline;

			&:hover {
				color: $color-light-gray;
			}
		}
	}

	&.panel--slim {
		height: 166px;
		background-size: auto;
		//background-image: url("images/hero-chairs.jpg");

		@media (max-width: $screen-xs-max) {
			height:0;
			.box {
				display: none;
			}
		}

		.logo {
			@media (min-width: $screen-sm-min) {
				top: 12px;
			}
		}

		.box {
			margin-top: 40px;
		}
		.box__content {
			text-align: right;
		}

		.login {
			position:static;
		}
	}
}
