/*** PANEL **/
.panel {
	padding: $line-height-computed * 2 0;
}

.panel__container {
	@extend .container-fluid;
	max-width: $screen-lg;
	position: relative;
}

.panel__content {
	@include clearfix;

	&.panel--row {
		@include make-row;
	}
}

.panel--inset {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	background-color: $color-offwhite;
}

/*** BOX **/
.box {
	margin-bottom: $line-height-computed;

	&:last-child {
		margin-bottom: 0;
	}
}

.box__title {
	margin-bottom: $line-height-computed * 2;

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	h2 {
		font-size: 40px;
		font-weight: 600;
	}
}

.box__content {

}

.box--news {
	body.state-landing & {
		@include make-sm-column(6);
		padding-right: $grid-gutter-width * 2;
	}
}

.box--events {
	body.state-landing & {
		@include make-sm-column(6);
		padding-left: $grid-gutter-width * 2;
	}
}

/*** ENTRY **/
.entry {
	margin-bottom: $line-height-computed;

	&:last-child {
		margin-bottom: 0;
	}
}

.entry__title {
	margin-bottom: $line-height-computed;
	color: $color-text-dark;

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	h3 {
		font-size: 30px;
		font-weight: 600;
	}
}

.entry__info {
	font-size: 18px;
}
