/*** PANEL **/
.panel {
	padding: $line-height-computed * 2 0;
}

.panel__container {
	@extend .container-fluid;
	max-width: $screen-lg;
	position: relative;
}

.panel__content {
	@include clearfix;

	&.panel--row {
		@include make-row;
	}
}

.panel--columns-two {
	.panel__content {
		@include make-row;
	}

	.box {
		@include make-sm-column(6);

		&:nth-child(odd) {
			padding-right: $grid-gutter-width;
		}
		&:nth-child(even) {
			padding-left: $grid-gutter-width;
		}
	}

	&.panel--ratio-golden {
		.box {
			&:nth-child(odd) {
				@include make-sm-column(9);
			}
			&:nth-child(even) {
				@include make-sm-column(3);
			}
		}
	}


}

.panel--columns-three {
	.panel__content {
		@include make-row;
	}

	.box {
		@include make-sm-column(6);
	}
}

.panel--inset {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	background-color: $color-offwhite;
}

/** Backwards compat **/

.layout {
	@extend .panel;
}

.layout__section {
	@extend .panel__container;
}

.layout--three-columns {
	@extend .panel--columns-three;
}

/*** BOX **/
.box {
	margin-bottom: $line-height-computed;

	&:last-child {
		margin-bottom: 0;
	}
}

.box__title {
	color: $color-blue;

	body.state-landing & {
		margin-bottom: $line-height-computed * 2;
	}

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	h2 {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 60px;
	}
}

.box__content {
	+ .box__title {
		margin-top: $line-height-computed;
		border-top: 1px solid $color-border;
		padding-top: 20px;
	}
}

.box__footer {
	margin-top: 30px;

	a {
		@include linkColorDefault;
		font-size: 22px;
	}

	.fa {
		font-size: 36px;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.box__jip {
	@extend .box__footer;

	float: right;
	margin-top: 0;
}

.box--carousel {
	max-height: 1000px;

	.box__content {
		@include make-row;
	}

	.entry {
		padding: 0 15px;
	}

	.entry__info {
		color: $color-text-light;
	}

	.entry__title {
		a {
			@include linkColorDark;
		}
	}

	.entry__title,
	.entry__image {
		margin-bottom: $line-height-computed;
	}

	.owl-nav {
		position: absolute;
		width: 100%;
		top: 40%;

		> div {
			@include transition(opacity .22s);
			font-size: 36px;
			color: $color-light-blue;
		}

		.disabled {
			opacity: .2;
		}
	}

	.owl-prev {
		position: absolute;
		top: 0;
		left: -32px;
	}

	.owl-next {
		position: absolute;
		top: 0;
		right: -32px;
	}
}

/*** ENTRY **/
.entry {
	margin-bottom: $line-height-computed;

	&:last-child {
		margin-bottom: 0;
	}
}

.entry__status {
	float: left;
	width: 50px;
}

.entry__title {
	margin-bottom: $line-height-computed;
	color: $color-text-dark;

	h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	h3 {
		font-size: 30px;
		font-weight: 600;
	}
}

.entry__info {
	font-size: 18px;
	color: $color-text;

	.fa  {
		margin: 0 5px;
		color: $color-light-blue;
	}
}

.entry__image {
	img {
		@include img-responsive;
	}
}

.entry--hoverable {
	position: relative;

	.entry__content {
		display: none;
		position: absolute;
		z-index: 2;
		margin-left: -104%;
		margin-top: -62px;
		width: 100%;

		&:after {
			@include rotate(45deg);
			content: '';
			position: absolute;
			z-index: 1;
			right: -12px;
			top: 24px;
			height: 24px;
			width: 24px;
			background: $color-white;
			border-top: 1px solid $color-blue;
			border-right: 1px solid $color-blue;
		}
	}
}

/*** EVENT **/

.event {

}

.event__label {
	color: $color-green;
	margin-bottom: $line-height-computed;

	h4 {
		font-size: 22px;
		margin: 0;
	}

	.fa {
		margin-right: 10px;
	}
}

.event__info {
	font-size: 18px;
	font-weight: 600;
	color: $color-light-blue;

	.separator {
		margin: 0 10px;
	}

	.event__time {
		color: $color-red;
	}
}

.event__title {
	margin-bottom: $line-height-computed;

	h5 {
		font-size: 20px;
		margin: 0;
	}

	a {
		@include linkColorDark;
	}
}

.event__details {
	margin-bottom: $line-height-computed;
}

.event__content {
	h4 {
		color: $color-blue;
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid $color-border;
	}
}
