.box--news {
	.box__title {
		color: $color-blue;
	}

	.entry {
		@include clearfix;
		padding-bottom: 30px;
	}

	.entry--border {
		border-bottom: 1px solid $color-border;
	}

	.entry--has-image {
		.entry__content,
		.entry__image {
			@include make-sm-column(6);
		}

		.entry__content {
			padding-left: 0;
		}

		.entry__image {
			padding-right: 0;
		}

		&.entry--has-image-left {
			.entry__content {
				@include make-sm-column(8);
				padding:0;
			}

			.entry__image {
				@include make-sm-column(4);
				@include clearfix;
				padding-right: 30px;
				padding-left: 0;
				min-height: 100px;

				img {
					float:right;
				}
			}
		}
	}

	.entry__info {
		color: $color-text-light;
		display: block;
		margin-bottom: 10px;
	}

	.entry__title {
		a {
			@include linkColorDark;
		}
	}

	.entry__content {
		line-height: $line-height-small;
	}

	.entry--simple {
		.entry__title {
			margin-bottom: 0;
		}
	}
}

.box--news-single {
	.entry__date {
		color: $color-text-light;
	}

	.entry__image {
		@include make-sm-column(6);
		float: right !important;
		padding-right:0;
		margin: 0 0 $line-height-computed $line-height-computed;
	}

	.box__footer {
		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;
		padding: 8px 15px;
	}

	.addthis {
		float:right;
	}
}
