.box--news {
	.box__title {
		color: $color-blue;
	}

	.entry {
		@include clearfix;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-border;
	}

	.entry--has-image {
		.entry__content,
		.entry__image {
			@include make-sm-column(6);
		}

		.entry__content {
			padding-left: 0;
		}

		.entry__image {
			padding-right: 0;
		}
	}

	.entry__info {
		color: $color-text-light;
	}

	.entry__title {
		a {
			@include linkColorDark;
		}
	}

	.entry__content {
		line-height: $line-height-small;
	}

	.entry--simple {
		.entry__title {
			margin-bottom: 0;
		}
	}
}
