.twins {
  @include make-row();
  margin-bottom: $line-height-computed;
}

.twin {
  @include make-sm-column(6);

  @media (max-width: $screen-xs-max) {
    margin-bottom: $line-height-computed/2;
  }
}

.twin__inner {
  @include transition(border-color .22s);
  border: 1px solid $color-border;
  padding: 20px;

  &:hover {
    border-color: $color-blue;
  }
}

.twin__title {
  color: $color-blue;

  h4 {
    margin-top:0;
  }
}

.twin__summary {
  font-size: 18px;
}